@import 'colors';

.st2-actions {
  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      flex: none;

      width: 20px;
    }
    &-name {
      flex: 1 50px;
    }
    &-type {
      flex: 1 50px;
    }
    &-desc {
      overflow: hidden;
      flex: 3 0 100px;

      text-overflow: ellipsis;
    }
  }

  .st2-flex-table__column&__details-column {
    &-meta {
      flex: 0 50px;
    }
    &-status {
      flex: 0 100px;
    }
    &-time {
      flex: 1;
    }
    &-utility {
      flex: none;

      width: 30px;

      cursor: pointer;
    }
  }
}
