@import "layout";

.st2-actions {

  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      flex: none;
      width: 20px;
    }
    &-name {
      flex: 1 50px;
    }
    &-type {
      flex: 1 50px;
    }
    &-desc {
      flex: 3 0 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .st2-flex-table__column&__details-column {
    &-status {
      flex: 0 100px;
    }
    &-time {
      flex: 1;
    }
    &-utility {
      flex: none;
      width: 20px;
      cursor: pointer;

      &:hover {
        color: #f4f4f4;
        text-shadow: 1px 0 0 #000,
                     0 1px 0 #000,
                     -1px 0 0 #000,
                     0 -1px 0 #000;
      }
    }
  }

}
