@import "@stackstorm/st2-style/colors.css";

.st2-actions {
  /* Table columns */
  .st2-flex-table__column&__column {
    &-utility {
      flex: none;

      width: 20px;
    }
    &-name {
      flex: 1 50px;
    }
    &-type {
      flex: 1 50px;
    }
    &-desc {
      overflow: hidden;
      flex: 3 0 100px;

      text-overflow: ellipsis;
    }
  }

  .st2-flex-table__row {
    padding: 10px 0;
  }

  .st2-flex-table__column&__details-column {
    &-meta {
      flex: 0 50px;

      word-spacing: 10px;
    }
    &-status {
      flex: 0 100px;
    }
    &-time {
      flex: 1;
    }
    &-utility {
      flex: none;

      width: 30px;

      cursor: pointer;
    }
    &-history {
      font-size: 18px;

      position: relative;

      flex: 0 20px;

      height: 18px;

      text-align: right;

      color: #515151;
    }
  }

  &__executions {
    .st2-flex-table {
      margin-bottom: 10px;

      border: 0;
    }

    .st2-history-child {
      border: solid var(--grey-lighten-3);
      border-width: 0 1px 1px 0;
    }

    .st2-history-child .st2-history-child {
      border: 0;
    }
  }
}
