@import 'colors';

.st2-actions {
  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      flex: none;

      width: 20px;
    }
    &-name {
      flex: 1 50px;
    }
    &-type {
      flex: 1 50px;
    }
    &-desc {
      overflow: hidden;
      flex: 3 0 100px;

      text-overflow: ellipsis;
    }
  }

  .st2-panel__toolbar {
    &-title {
      flex: 1 200px;
    }
  }

  .st2-flex-table__column&__details-column {
    &-meta {
      flex: 0 50px;

      word-spacing: 10px;
    }
    &-status {
      flex: 0 100px;
    }
    &-time {
      flex: 1;
    }
    &-utility {
      flex: none;

      width: 30px;

      cursor: pointer;
    }
    &-history {
      position: relative;

      flex: 0 20px;

      color: #515151;

      i {
        position: absolute;
        top: 50%;

        height: 14px;
        margin-top: -7px;
      }
    }
  }
}
