<div class="st2-panel" ng-class="{'st2-panel--slide': $root.state.includes('*.details')}">

  <div class="st2-actions">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <form>
          <div class="st2-details__form-group st2-details__form-group--right">
            <input type="text" class="st2-details__form-control st2-details__form-control--left" placeholder="Search">
            <button type="submit" class="st2-details__button">Submit</button>
          </div>
        </form>
      </div>
    </nav>

    <div class="st2-panel__heading" ng-repeat-start="(name, list) in groups">
      <h2 class="st2-panel__heading-title">{{ name }}</h2>
    </div>


    <div class="st2-flex-table" ng-repeat-end>
      <div class="st2-flex-table__header">
        <div class="st2-flex-table__column st2-actions__column-name">Machine Name</div>
        <div class="st2-flex-table__column st2-actions__column-type">Human-friendly Name</div>
        <div class="st2-flex-table__column st2-actions__column-desc">Description</div>
      </div>

      <div class="st2-flex-table__row"
          ng-class-odd="'st2-flex-table__row--odd'"
          ng-class-even="'st2-flex-table__row--even'"
          ng-repeat="action in list"
          ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})">
        <div class="st2-flex-table__column st2-actions__column-name">{{ action.name }}</div>
        <div class="st2-flex-table__column st2-actions__column-type">{{ action.runner_type }}</div>
        <div class="st2-flex-table__column st2-actions__column-desc">{{ action.description }}</div>
      </div>
    </div>

    <div class="st2-panel__back-button"
      ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})">
    </div>
  </div>

  <div class="st2-summary">
    <div>
      <div class="st2-summary__heading">
        <h2 class="st2-summary__heading-title">Summary</h2>
        <button class="st2-summary__button st2-summary__button--right" title="Details"
            ng-click="$root.state.go('^.details', {id: action.id, page: $root.page})"
            ng-if="!$root.state.includes('*.details')">
          Details
        </button>
        <button class="st2-summary__button st2-summary__button--right" title="Details"
            ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})"
            ng-if="$root.state.includes('*.details')">
          &lt;- Back
        </button>
      </div>

      <div class="st2-summary__body">
        <dl>
          <dt>Name</dt>
          <dd>{{ action.name }}</dd>

          <dt>Description</dt>
          <dd>{{ action.description }}</dd>

          <dt>Latest Execution Status</dt>
          <dd>
            <span class="st2-label"
              status="_.last(executions).status"
              ng-if="executions.length">
            </span>
            <span ng-if="!executions.length">
              This action was never executed before
            </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

</div>

<div class="st2-details">
  <div class="st2-details__panel">
    <div class="st2-details__panel-heading">
      <h2 class="st2-details__panel-title">Parameters</h2>
    </div>
    <div class="st2-details__panel-body">
      <form role="form" class="st2-details__form"
          ng-submit="runAction(action.name, payload)">
        <div class="st2-details__panel-message"
            ng-if="_.isEmpty(action.parameters)">
          Action has no parameters
        </div>
        <div class="st2-auto-form"
          spec="action.parameters"
          result="payload">
        </div>
        <button type="submit" class="st2-details__button">Run</button>
      </form>
    </div>
  </div>

  <div class="st2-details__panel">
    <div class="st2-details__panel-heading">
      <h2 class="st2-details__panel-title">Executions</h2>
    </div>
    <div class="st2-details__panel-body">
      <table class="st2-details__table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="execution in executions | orderBy:'start_timestamp':true | limitTo:5" ng-class-odd="'st2-details__table-row--odd'" ng-class-even="'st2-details__table-row--even'" class="st2-details__table-row">
            <td>{{ execution.start_timestamp | date:'medium' }}</td>
            <td><div class="st2-label" status="execution.status"></div></td>
          </tr>
        </tbody>
      </table>
      <a href="#" class="st2-details__button">See all executions</a>
    </div>
  </div>

  <div class="st2-details__panel"
      ng-if="actionHasFile(action)">
    <div class="st2-details__panel-heading">
      <h2 class="st2-details__panel-title">File</h2>
    </div>
    <div class="st2-details__panel-body">
      <pre class="st2-details__well">{{ file }}</pre>
    </div>
  </div>

</div>
