<div class="st2-panel"
    ng-class="{'st2-panel--slide': $root.isDetails()}">

  <div class="st2-panel__view st2-actions">
    <div class="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          Actions
        </div>

        <div class="st2-panel__toolbar-search">
          <form>
            <input type="search"
              class="st2-panel__search-bar"
              placeholder="Filter"
              ng-model="filter">
          </form>
        </div>
      </div>

      <div class="st2-flex-table" ng-repeat="(name, list) in groups">
        <div class="st2-flex-table__caption">
          <h2 class="st2-flex-table__caption-title">{{ name }}</h2>
        </div>

        <div class="st2-flex-table__header">
          <div class="st2-flex-table__column st2-actions__column-name">Name</div>
          <div class="st2-flex-table__column st2-actions__column-name">Runner</div>
          <div class="st2-flex-table__column st2-actions__column-desc">Description</div>
        </div>

        <div class="st2-flex-table__row"
            ng-class-odd="'st2-flex-table__row--odd'"
            ng-class-even="'st2-flex-table__row--even'"
            ng-class="{'st2-flex-table__row--active': action.id == $parent.action.id}"
            ng-repeat="action in list"
            ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})">
          <div class="st2-flex-table__column st2-actions__column-name">
            {{ action.name }}
          </div>
          <div class="st2-flex-table__column st2-actions__column-type">
            {{ action.runner_type }}
          </div>
          <div class="st2-flex-table__column st2-actions__column-desc">
            {{ action.description }}
          </div>
        </div>
      </div>

    </div>

    <div class="st2-panel__back-button"
      ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})">
    </div>

  </div>

  <div class="st2-summary">

    <div class="st2-summary__heading">
      <h2 class="st2-summary__heading-title">Summary</h2>
      <button class="st2-forms__button-right" title="Details"
          ng-click="$root.state.go('^.details', {id: action.id, page: $root.page})"
          ng-if="!$root.isDetails()">
        Details
      </button>
      <button class="st2-forms__button-left" title="Details"
          ng-click="$root.state.go('^.summary', {id: action.id, page: $root.page})"
          ng-if="$root.isDetails()">
        Back
      </button>
    </div>

    <dl class="st2-summary__body">
      <dt class="st2-summary__body-label">Name</dt>
      <dd class="st2-summary__body-value">{{ action.name }}</dd>

      <dt class="st2-summary__body-label">Description</dt>
      <dd class="st2-summary__body-value">{{ action.description }}</dd>

      <dt class="st2-summary__body-label"
          ng-if="!_.isEmpty(executions)">
        Latest Execution Status
      </dt>
      <dd class="st2-summary__body-value"
          ng-if="!_.isEmpty(executions)">
        <span class="st2-label"
          status="_.last(executions).status">
        </span>
      </dd>
    </dl>

  </div>

</div>

<div class="st2-details">
  <div class="st2-details__tabs">
    <div class="st2-details__tab-label"
        ng-class="{'st2-details__tab-label--active': $root.state.includes('^.details')}"
        ng-click="$root.state.go('^.details', {id: action.id, page: $root.page})">
      General
    </div>

    <div class="st2-details__tab-body"
        ng-class="{'st2-details__tab-body--active': $root.state.includes('^.details')}">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Parameters</h2>
          </div>
          <div class="st2-details__panel-body">
            <form role="form" class="st2-details__form"
                ng-submit="runAction(action.name, payload)">
              <div class="st2-details__panel-empty"
                  ng-if="_.isEmpty(action.parameters) || _.every(action.parameters, 'immutable')">
                Action has no mutable parameters
              </div>
              <div class="st2-auto-form"
                spec="action.parameters"
                result="payload">
              </div>
              <button type="submit" class="st2-forms__button">Run</button>
            </form>
          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">
              Executions
              <i class="st2-details__reload-button st2-icon__reload"
                ng-class="{
                  'animate-spin': inProgress,
                  'st2-details__reload-button--in-progress': inProgress
                }"
                ng-click="inProgress || reloadExecutions(action.id)"></i>
            </h2>
          </div>
          <div class="st2-details__panel-body">

            <div class="st2-flex-table" ng-if="!_.isEmpty(executions)">
              <div class="st2-flex-table__header">
                <div class="st2-flex-table__column st2-actions__details-column-time">Time</div>
                <div class="st2-flex-table__column st2-actions__details-column-status">Status</div>
              </div>

              <div class="st2-flex-table__row"
                  ng-class-odd="'st2-flex-table__row--odd'"
                  ng-class-even="'st2-flex-table__row--even'"
                  ng-repeat="execution in executions | orderBy:'start_timestamp':true | limitTo:5">
                <div class="st2-flex-table__column st2-actions__details-column-time">
                  {{ execution.start_timestamp | date:'medium' }}
                </div>
                <div class="st2-flex-table__column st2-actions__details-column-status">
                  <div class="st2-label" status="execution.status"></div>
                </div>
              </div>
            </div>

            <div class="st2-details__panel-empty" ng-if="_.isEmpty(executions)">
              No action executions
            </div>

            <a class="st2-forms__button"
                ui-sref="history.list({action: action.name})">
              See full action history
            </a>
          </div>
        </div>

      </div>

    </div>

    <div class="st2-details__tab-label"
        ng-class="{'st2-details__tab-label--active': $root.state.includes('^.code')}"
        ng-click="$root.state.go('^.code', {id: action.id, page: $root.page})"
        ng-if="actionHasFile(action)">
      Code
    </div>

    <div class="st2-details__tab-body"
        ng-class="{'st2-details__tab-body--active': $root.state.includes('^.code')}"
        ng-if="actionHasFile(action)">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">File</h2>
          </div>
          <div class="st2-details__panel-body">
            <div class="st2-details__well">
              <pre>{{ file }}</pre>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
