<header class="st2-menu st2-menu--blue"></header>

<main class="st2-panel">

  <div class="st2-panel__view st2-actions" cg-busy="busy">
    <div class="st2-panel__toolbar">
      <div class="st2-panel__toolbar-actions">
        <flow-link></flow-link>
      </div>

      <div class="st2-panel__toolbar-title">
        Actions
      </div>

      <div class="st2-panel__toolbar-search"
          ng-show="groups">
        <form>
          <input type="search"
            class="st2-panel__search-bar"
            data-test="filter"
            placeholder="Filter"
            ng-model="filter">
          <i class="icon-lens"></i>
        </form>
      </div>

      <div class="st2-panel__toolbar-view">
        <div class="st2-view" view-settings="view"></div>
      </div>

      <div class="st2-panel__toolbar-toggle-all"
          ng-class="{'st2-panel__toolbar-toggle-all--collapsed': areFlexTablesCollapsed('actions')}"
          ng-click="toggleFlexTables('actions')"></div>
    </div>

    <div class="st2-panel__content">

      <div class="st2-panel__scroller" id="st2-panel__scroller">

        <div class="st2-flex-table"
            ng-repeat="(name, params) in groups"
            ng-if="groups && !_.isEmpty(groups)"
            ng-class="{'st2-flex-table--collapsed': isCollapsed()}"
            data-test="pack pack:{{ name }}"
            st2-flex-table-type="actions"
            st2-flex-table-id="{{ name }}">
          <div class="st2-flex-table__caption st2-flex-table__caption--pack"
              ng-click="toggle()">
            <img ng-src="{{ icons[name] }}" />
            <h2 class="st2-flex-table__caption-title">{{ name }}</h2>
          </div>

          <div class="st2-flex-card"
              data-test="action action:{{action.ref}}"
              ng-class="{'st2-flex-card--active': action.ref == $parent.action.ref}"
              ng-repeat="action in params.list"
              ng-click="$root.go({ref: action.ref})"
              st2-scroll-into-view="{{ action.ref == $parent.action.ref }}"
              st2-scroll-into-view-container="st2-panel__scroller">
            <div class="st2-flex-card__header">
              <div class="st2-flex-card__column">
                <div class="st2-flex-card__header-primary"
                    title="{{ action.ref }}"
                    ng-if="view.action.value">
                  {{ action.ref }}
                </div>
                <div class="st2-flex-card__header-secondary"
                    ng-if="view.description.value">
                  {{ action.description }}
                </div>
              </div>
              <div class="st2-flex-card__column st2-flex-card__header-status">
                <span title="{{ action.runner_type }}"
                    ng-if="view.runner.value">
                  {{ action.runner_type }}
                </span>
                <span ng-if="view.type.value">
                  <i class="st2-icon__flow-cascade"
                    ng-if="{'action': action} | isExpandable"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="st2-panel__content-empty"
            ng-if="groups && !error && _.isEmpty(groups)">
          No results were found for your current filter
        </div>

        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)"
            ng-switch="error.status">
          <div ng-switch-when="401">
            <p class="st2-panel__content-error-title">
              This server requires authentication
            </p>
            <p>
              For information on how to set up authentication, please refer to
              <a href="http://docs.stackstorm.com/webui.html#authentication">this section</a>
              of StackStorm WebUI docs.
            </p>
          </div>
          <div ng-switch-default>
            <p class="st2-panel__content-error-title">Unable to reach API server</p>
            <p>Check developer console of your browser for more info.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="st2-panel__details st2-details"
      data-test="details"
      ng-show="action">

    <div class="st2-details__toolbar">

      <flow-link action="{{ action.ref }}" data-test="flow_link"
          ng-if="action.runner_type == 'mistral-v2'">
      </flow-link>

      <div class="st2-details__toolbar-separator"></div>

      <div class="st2-details__switch st2-details__switch--of-two"
          ng-class="{
            'st2-details__switch--first': $root.isState(['^.general', '^.list']),
            'st2-details__switch--second': $root.isState('^.code')
          }">
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.general', {ref: action.ref})">
          <i class="st2-icon__cogs"></i>
        </div>
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.code', {ref: action.ref})">
          <i class="st2-icon__code"></i>
        </div>
      </div>

    </div>

    <div class="st2-details__header">
      <div class="st2-details__header-name" data-test="header_name">
        <a ui-sref="actions.general({ref:action.ref})">
          {{ action.ref }}
        </a>
      </div>
      <div class="st2-details__header-description" data-test="header_description">
        {{ action.description }}
      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState(['^.general', '^.list'])}">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Parameters</h2>
          </div>
          <div class="st2-details__panel-body">
            <form name="runForm" role="form" class="st2-details__form"
                ng-submit="runAction(action, payload, trace)">
              <div class="st2-details__panel-empty"
                  ng-if="_.isEmpty(action.parameters) || _.every(action.parameters, 'immutable')">
                Action has no mutable parameters
              </div>
              <div class="st2-auto-form"
                data-test="action_parameters"
                watch-depth="reference"
                on-change="onChange"
                spec="actionSpec"
                ng-model="payload">
              </div>
              <div class="st2-auto-form__line st2-form__text-field"
                name="trace-tag"
                spec="traceSpec"
                ng-model="trace"></div>

              <div class="st2-forms__buttons-panel">
                <button type="submit" class="st2-forms__button"
                    data-test="run_submit"
                    ng-disabled="runForm.$invalid">
                  Run
                </button>
                <input type="button" class="st2-forms__button st2-forms__button-right"
                    ng-click="preview = !preview"
                    value="Preview" />
              </div>

              <div class="st2-highlight"
                  ng-show="preview"
                  code="payload | json"
                  lines="20"
                  language="json">
              </div>
            </form>
          </div>
        </div>

        <div class="st2-details__panel st2-actions__executions">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">
              Executions
            </h2>
          </div>
          <div class="st2-details__panel-body">

            <div class="st2-flex-table"
                data-test="action_executions"
                ng-if="!_.isEmpty(history)">
              <div class="st2-flex-table__row"
                  ng-class-odd="'st2-flex-table__row--odd'"
                  ng-class-even="'st2-flex-table__row--even'"
                  ng-repeat-start="record in history | orderBy:'start_timestamp':true | limitTo:5"
                  ng-click="expand(record, $event)">

                <div class="st2-flex-table__column st2-actions__details-column-utility">
                  <i ng-class="'icon-chevron-' + (record._expanded && 'down' || 'up')">
                  </i>
                </div>

                <div class="st2-flex-table__column st2-actions__details-column-meta">
                  <div class="st2-actions__details-column-meta-status">
                    <span class="st2-label st2-label--short"
                      status="record.status"></span>
                    <i class="st2-icon__flow-cascade"
                      ng-if="(record | isExpandable)"></i>
                  </div>
                  <!-- <div class="st2-actions__details-column-meta-time">
                    {{ record.start_timestamp | date:'mediumTime':'UTC' }}
                  </div> -->
                </div>

                <!-- <div class="st2-flex-table__column st2-actions__details-column-status">
                  <div class="st2-label" status="record.status"></div>
                </div> -->
                <div class="st2-flex-table__column st2-actions__details-column-time">
                  {{ record.start_timestamp | date:'EEE, dd MMM y HH:mm:ss UTC':'UTC' }}
                </div>

                <a class="st2-flex-table__column st2-actions__details-column-history"
                    title="Jump to History"
                    ui-sref="history.general({action: action.ref, id: record.id})"
                    ng-click="$event.stopPropagation()">
                  <i class="icon-history"></i>
                </a>

              </div>
              <div class="st2-flex-table__insert"
                  ng-show="!(record | isExpandable) && record._expanded">

                <div class="st2-details__panel-body">
                  <div class="st2-action-reporter"
                    runner="record.runner.name"
                    execution="record"></div>
                </div>
              </div>
              <div class="st2-history-child"
                workflow="record"
                view="workflowView"
                ng-if="(record | isExpandable) && record._expanded"
                ng-repeat-end>
              </div>
            </div>

            <div class="st2-details__panel-empty"
                data-test="no_executions_message"
                ng-if="_.isEmpty(history)">
              No history records for this action
            </div>

            <a class="st2-forms__button"
                ui-sref="history.list({action: action.ref})">
              <i class="icon-history"></i>
              See full action history
            </a>
          </div>
        </div>

      </div>

    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel"
            ng-if="!!actionFile(action)">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">File</h2>
          </div>
          <div class="st2-details__panel-body">
            <div class="st2-highlight"
                data-test="action_code"
                code="file"
                lines="20"
                language="{{ fileLang }}">
            </div>
          </div>
        </div>

        <div class="st2-details__panel"
            data-test="no_code_message"
            ng-if="!actionFile(action)">
          <div class="st2-details__panel-empty">
            This action has no code associated
          </div>
        </div>

      </div>
    </div>

  </div>

</main>

<div class="st2-report"></div>
