<a href="#" class="st2-menu__logo"></a>

<div class="st2-menu__spacer"></div>

<div class="st2-menu__nav">
  <a href="{{ route.href }}" class="st2-menu__nav-item"
      ng-repeat="route in routes | filter:isMain | orderBy:position" class="st2-menu__nav-item"
      target="{{route.target}}"
      ng-class="isActive(route) && 'st2-menu__nav-item--active'">
    <i class="st2-menu__icon"
        ng-class="route.icon"></i>
    {{ route.title }}
  </a>
</div>

<div class="st2-menu__spacer"></div>

<div class="st2-menu__user">
  <label class="st2-menu__user-item">
    {{ user || 'Stanley' }}@{{ server.name }}
    <i class="st2-menu__icon icon-user"></i>
    <input type="checkbox"/>
    <div class="st2-menu__user-dropdown">
      <div class="st2-menu__user-dropdown-backdrop"></div>
      <div class="st2-menu__user-dropdown-item"
          ng-click="disconnect()">
        Sign out
      </div>
    </div>
  </span>
</div>

<a href="mailto:support@stackstorm.com" class="st2-menu__nav-item" data-reamaze-lightbox="contact">
  <i class="st2-menu__icon icon-question"></i>
  Contact us
</a>
