<a href="#" class="st2-menu__logo">
  <img src="img/logo.svg" alt="StackStorm Stanley">
</a>

<ul class="st2-menu__nav">
  <li ng-repeat="route in state.get() | filter:isMain" class="st2-menu__nav-item"
      ng-class="isActive(route) && 'st2-menu__nav-item--active'">
    <a href="#{{ route.url }}">
      <i class="st2-menu__icon"
          ng-class="route.icon"></i>
      {{ route.title }}
    </a>
  </li>
</ul>

<div class="st2-menu__server">
  <span class="st2-menu__server-current">{{ user }}</span>
  <div class="st2-menu__server-list">
    <div class="st2-menu__server-current">
      {{ user }}
    </div>
    <div class="st2-menu__server-item" ng-click="logout()">
      Log out
    </div>
  </div>
</div>
