@import (inline) 'components/angular-ui-select/dist/select.css';

@import (reference) '/components/bootstrap/less/variables.less';
@import (reference) '/components/bootstrap/less/mixins.less';

// TODO: refactor
@import '/components/bootstrap/less/forms.less';
@import '/components/bootstrap/less/dropdowns.less';

.ui-select-bootstrap {
  width: 250px;
  float: left;
  .ui-select-match {
    padding: 0;
  }
  .form-control {
    padding: 0 0 0 10px;
    &:focus {
      width: 240px;
    }
  }
}
