.st2-highlight {
  &__fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 2;

    background-color: rgba(0,0,0,0.8);

    cursor: pointer;

    &:after {
      content: '\e812';

      font-family: "ststanley";
      font-style: normal;
      font-weight: normal;

      font-size: 18px;

      display: block;

      position: absolute;
      top: 20px;
      right: 20px;

      padding: 5px;
    }
  }

  &__fullscreen &__well {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;

    box-sizing: border-box;
    margin: 0;

    cursor: text;

    pre, code {
      height: 100%;
      box-sizing: border-box;
    }
  }

  &__fullscreen &__well code {
    overflow: auto;
  }

  &__more {
    color: #888;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: inherit;
    }
  }

  & .st2-panel__scroller {
    padding: 30px;
  }
}
