<div class="st2-highlight__well"
    ng-show="!hidden">
  <pre><!--
 --><code><!--
 --></code><!--
 --><div class="st2-highlight__more"
        ng-show="lines_more > 0"
        ng-click="expand = !expand"><!--
   -->+ {{ lines_more }} more lines<!--
 --></div><!--
--></pre>
</div>
<div class="st2-highlight__fullscreen"
    ng-show="!hidden && expand"
    ng-click="expand = !expand">
  <div class="st2-highlight__well"
      ng-click="$event.stopPropagation()">
    <input type="button" 
	ng-click="wrap = !wrap" 
	value="WRAP LINES"
	ng-class="{'input--active': wrap}">
    <input type="button" 
	ng-click="toggleNewLines()" 
	value="SHOW NEWLINES"
	ng-class="{'input--active': showNewLines}">
    <pre ng-style="{'white-space': (wrap) ? 'pre-wrap' : 'auto'}">
      <code></code>
    </pre>
  </div>
</div>
