.st2-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25em;
  background-color: #777777;

  &--primary {
    background-color: #428BCA;
  }
  &--success {
    background-color: #5CB85C;
  }
  &--info {
    background-color: #5BC0DE;
  }
  &--warning {
    background-color: #F0AD4E;
  }
  &--danger {
    background-color: #D9534F;
  }

  &:before {
    // may always broke if we won't pay enough attention to keeping the same codes
    content: '';

    font-family: "ststanley";
    font-style: normal;
    font-weight: normal;

    font-size: 9px;
    margin-right: 3px;

    vertical-align: baseline;

    display: inline-block;
  }

  &--failed {
    &:before {
      content: '\e802';
    }

    background-color: #D9534F;
  }

  &--succeeded {
    &:before {
      content: '\e80a';
    }

    background-color: #5CB85C;
  }

  &--progress {
    &:before {
      content: '\e806';
      animation: spin 2s infinite linear;
    }
  }
}
