<label class="st2-auto-form__label st2-auto-form__select"
  ng-class="{'st2-auto-form--required': spec.required}">

  <div class="st2-auto-form__title"
      ng-if="spec.name || name">
    {{ spec.name || name }}
  </div>

  <select class="st2-auto-form__field"
    ng-model="ngModel"
    ng-model-options="options || {}"
    ng-required="{{spec.required}}"
    ng-options="k as format(k, v) for (k, v) in enum"
    ng-disabled="disabled"></select>

</label>

<p class="st2-auto-form__description"
    ng-if="spec.description">
  {{ spec.description }}
</p>
