<div ng-repeat="(host, result) in execution.result">
  <div class="st2-action-reporter__hostname">Host: {{ host }}</div>
  <div class="st2-action-reporter__source"
      ng-if="result.stdout">
    Output
  </div>
  <div class="st2-highlight" code="result.stdout"></div>

  <div class="st2-action-reporter__source"
      ng-if="result.stderr">
    Error
  </div>
  <div class="st2-highlight" code="result.stderr"></div>

  <div class="st2-action-reporter__message"
      ng-if="!result.stderr && !result.stdout">
    Action produced no data on the host
  </div>
</div>
