<div class="st2-action-reporter__source"
    ng-if="execution.result.result">
  Result
</div>
<div class="st2-highlight" code="execution.result.result"></div>

<div class="st2-action-reporter__source"
    ng-if="execution.result.stdout">
  Output
</div>
<div class="st2-highlight" code="execution.result.stdout"></div>

<div class="st2-action-reporter__source"
    ng-if="execution.result.stderr">
  Error
</div>
<div class="st2-highlight" code="execution.result.stderr"></div>

<div class="st2-action-reporter__message"
    ng-if="!execution.result.result && !execution.result.stderr && !execution.result.stdout">
Action produced no data
</div>
