{
  "plugins": [
    "transform-async-to-generator",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "presets": [
    "env",
    "react"
  ]
}
