npm-debug.log
lerna-debug.log
yarn-error.log
yarn-debug.log
node_modules
css
js
build

debian/st2web
debian/*.debhelper.log
debian/*.substvars
debian/files

.vagrant

.DS_Store

# VIM Swap
.*.swp


# local stuff
config.local.js
