@import 'colors';

.st2-report {
  position: absolute;
  right: 20px;
  bottom: 0;

  padding: 5px 10px;

  color: @gray-white;
  border-radius: 5px 5px 0 0;
  background-color: @gray-dark;
  box-shadow: 0 0 3px fade(@gray-darkest, 50%);

  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;

    color: @gray-white;
  }
}
