<div class="st2-form-text"
  name="{{name}}"
  spec="suggestionSpec"
  ng-model="ngModel[IDENT]"
  ng-if="disabled">
</div>
<div class="st2-manual-form st2-form-combobox"
  name="{{name}}"
  spec="suggestionSpec"
  ng-suggestions="suggestionSpec.enum"
  disabled="disabled"
  ng-model="$parent.ngModel[IDENT]"
  ng-if="!disabled">
</div>
<div ng-switch="form[name].$valid">
  <div class="st2-auto-form__description"
      ng-switch-when="false">
    Pick valid {{name}} from the list to see its parameters.
  </div>
  <div class="st2-auto-form"
    key="ngModel[IDENT]"
    spec="formSpec"
    disabled="disabled"
    watch-depth="reference"
    on-change="onChange"
    ng-model="ngModel.parameters">
  </div>
</div>
