@import 'colors';

.st2-login {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  color: @blue-lightest;
  background-color: @blue-darker;

  align-items: center;
  justify-content: center;

  &__logo {
    display: block;

    width: 50px;
    margin: 20px auto;

    img {
      width: 50px;
    }
  }

  &__form {
    display: block;

    width: 240px;
  }

  &__row {
    display: flex;

    margin: 10px;

    align-items: center;
  }

  & &__button {
    padding: 3px 12px;
  }

  & &__checkbox-wrapper {
    flex: 1;

    text-align: right;
  }

  &__error {
    margin: 10px;
    padding: 10px;

    color: #ff4500;
    border: 1px solid #ff4500;
    border-radius: 4px;
  }

  &__error::selection {
    color: #151a1e;
    background-color: #ff4500;
  }

  &__links {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 10px;

    text-align: center;
  }

  a,
  a:link,
  a:active,
  a:visited,
  a:hover {
    color: @gray-light;
  }
}
