<div class="st2-login">
  <form class="st2-login__form"
      ng-submit="submit(server.url, username, password, remember)">
    <a href="#" class="st2-login__logo">
      <img src="img/logo.svg" alt="StackStorm Stanley">
    </a>
    <div class="st2-login__error" ng-show="error">
      {{ error }}
    </div>
    <label class="st2-login__row">
      <input class="st2-forms__field st2-login__field"
        type="text"
        ng-model="username"
        placeholder="Username" />
    </label>
    <label class="st2-login__row">
      <input class="st2-forms__field st2-login__field"
        type="password"
        ng-model="password"
        placeholder="Password" />
    </label>
    <label class="st2-login__row">

      <select class="st2-forms__field st2-login__field"
        ng-model="server"
        ng-options="v as v.name for v in servers"
        ng-disabled="spec.disabled"></select>

    </label>
    <div class="st2-login__row">
      <input class="st2-forms__button st2-login__button"
        type="submit"
        value="Login" />

      <label class="st2-login__checkbox-wrapper">
        <input class="st2-forms__checkbox"
          type="checkbox"
          ng-model="remember" />
        <span class="st2-forms__checkbox-label">
          remember me
        </span>
      </label>
    </div>
  </form>
</div>
