@import "layout";
@import "colors";

.st2-summary {
  #st2-layout > #panel;

  width: 320px;

  background-color: @gray-darker;
  padding: 0;
  color: #fff;

  box-shadow: -1px 0 0 #303030,
              -2px 0 0 #000;

  overflow: hidden;

  &__heading {
    border-bottom: 1px solid @gray-dark;
    padding: 10px 20px;

    display: flex;
    align-items: baseline;

    &-title {
      flex: 1;

      padding: 0;
      margin-right: 10px;

      color: #757575;

      font-size: 15px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: Oswald;

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    padding: 20px;
    margin: 0;

    &-label {
      color: #757575;
      text-transform: uppercase;
      font-weight: 400;
      font-family: Oswald;
    }

    &-value {
      margin: 3px 0 20px;
    }
  }
}
