:root {
  --gray-2: #4B4A4F;
  --selected: #008CEB;

  --body-bg-color: #fff;

  --text: #333;
  --nav-text: var(--text);

  --box-border-color: #e4e4e4;
  --box-bg-color: var(--body-bg-color);
  --box-shadow-color: #aeaeae;

  --gray-darkest: #000000;
  --gray-darker: #1e1e1e;
  --gray-dark: #2e2e2e;
  --gray-dull: #404040;
  --gray: #6c6c6c;
  --gray-bright: #747474;
  --gray-light: #a4a4a4;
  --gray-lighter: #d9d9d9;
  --gray-lightest: #eaeaeb;
  --gray-white: #f4f4f4;

  --blue-darkest: #151a1e;
  --blue-darker: #22282D;
  --blue-dark: #364049;
  --blue: #637789;
  --blue-dull: #8396A8;
  --blue-pale: #D9E5E8;
  --blue-light: #B0D1E5;
  --blue-lightest: #8AD3FF;

  --orange-bright: #FFA94E;
  --orange-pale: #FCEBD9;

  --button: #ff8300;
  --button-disabled: #888;

  --red-lighten-5: #fbefeb;
  --red-lighten-4: #f6ded7;
  --red-lighten-3: #edbdae;
  --red-lighten-2: #e59b86;
  --red-lighten-1: #dc7a5d;
  --red-base: #D35935;
  --red-darken-1: #bd5030;
  --red-darken-2: #a9472a;
  --red-darken-3: #7f3520;
  --red-darken-4: #542415;
  --purple-lighten-5: #f5e9f5;
  --purple-lighten-4: #ead2ea;
  --purple-lighten-3: #d6a5d5;
  --purple-lighten-2: #c177c1;
  --purple-lighten-1: #ad4aac;
  --purple-base: #981d97;
  --purple-darken-1: #891a88;
  --purple-darken-2: #7a1779;
  --purple-darken-3: #5b115b;
  --purple-darken-4: #3d0c3c;
  --blue-lighten-5: #edebf5;
  --blue-lighten-4: #dad6eb;
  --blue-lighten-3: #b4add6;
  --blue-lighten-2: #8f84c2;
  --blue-lighten-1: #695bad;
  --blue-base: #443299;
  --blue-darken-1: #3d2d89;
  --blue-darken-2: #36287a;
  --blue-darken-3: #291e5c;
  --blue-darken-4: #1b143d;
  --grey-lighten-5: #eeeeef;
  --grey-lighten-4: #ddddde;
  --grey-lighten-3: #bbbbbc;
  --grey-lighten-2: #98989b;
  --grey-lighten-1: #767679;
  --grey-base: #545458;
  --grey-darken-1: #4b4b4f;
  --grey-darken-2: #434346;
  --grey-darken-3: #323235;
  --grey-darken-4: #222223;
  --yellow-lighten-5: #fff5e9;
  --yellow-lighten-4: #ffecd1;
  --yellow-lighten-3: #ffd8a4;
  --yellow-lighten-2: #ffc576;
  --yellow-lighten-1: #ffb149;
  --yellow-base: #FF9E1B;
  --yellow-darken-1: #e58e18;
  --yellow-darken-2: #cc7e16;
  --yellow-darken-3: #995f10;
  --yellow-darken-4: #663f0b;
  --aqua-lighten-5: #e6f1f5;
  --aqua-lighten-4: #cce3ea;
  --aqua-lighten-3: #99c7d5;
  --aqua-lighten-2: #66abc0;
  --aqua-lighten-1: #338fab;
  --aqua-base: #007396;
  --aqua-darken-1: #006787;
  --aqua-darken-2: #005c78;
  --aqua-darken-3: #00455a;
  --aqua-darken-4: #002e3c;
  --orange-lighten-5: #fdeeed;
  --orange-lighten-4: #fbdcda;
  --orange-lighten-3: #f7bab5;
  --orange-lighten-2: #f49791;
  --orange-lighten-1: #f0756c;
  --orange-base: #ec5247;
  --orange-darken-1: #d44a40;
  --orange-darken-2: #bd4239;
  --orange-darken-3: #8e312b;
  --orange-darken-4: #5e211c;
  --green-lighten-5: #f0f6ec;
  --green-lighten-4: #dfecd9;
  --green-lighten-3: #c0d9b3;
  --green-lighten-2: #a0c58e;
  --green-lighten-1: #81b268;
  --green-base: #619F42;
  --green-darken-1: #578f3b;
  --green-darken-2: #4e7f35;
  --green-darken-3: #3a5f28;
  --green-darken-4: #27401a;
  --violet-lighten-5: #f6e8f4;
  --violet-lighten-4: #edd1e9;
  --violet-lighten-3: #dba3d3;
  --violet-lighten-2: #c974bc;
  --violet-lighten-1: #b746a6;
  --violet-base: #a51890;
  --violet-darken-1: #941681;
  --violet-darken-2: #841373;
  --violet-darken-3: #630e56;
  --violet-darken-4: #420a3a;
}