@import "normalize.css/normalize.css";

@import "./branding.css";
@import "./fonts.css";
@import "./colors.css";

html,
body,
.wrapper {
  font-size: 12px;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  height: 100%;

  background-color: var(--body-bg-color);
}

main {
  position: relative;

  display: flex;
  flex: 1;

  font-family: Roboto, sans-serif;
  
  color: var(--text);
}

.hljs {
  background-color: transparent;
}

[class^="st2-icon__"]:before,
[class*=" st2-icon__"]:before {
  font-size: 120%;

  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #008CEB;
  text-decoration: none;
}
