@import "@stackstorm/st2-style/colors.css";

.component {
  width: 100%;
}

.bar {
  display: table;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  &-value {
    display: table-cell;

    height: 10px;

    &_actions {
      background-color: #428bca;
    }

    &_aliases {
      background-color: var(--green-base);
    }

    &_rules {
      background-color: #5bc0de;
    }

    &_sensors {
      background-color: var(--yellow-base);
    }

    &_tests {
      background-color: var(--red-base);
    }

    &_triggers {
      background-color: #ffa500;
    }
  }
}

.info {
  font-size: 12px;

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #ddddde;

  &-value {
    flex: 1;

    padding: 5px;

    text-align: center;
    white-space: nowrap;
  }
}

