.st2-flex-table {
  margin-bottom: 10px;

  &__row, &__header {
    display: flex;
    border-bottom: 1px solid #ccc;
  }

  &__header {
    font-weight: bold;
  }

  &__column {
    flex: 1;
    // doesn't work the way you expect it to work breaking the grid depending on a number of
    // elements with padding. Lets hack it for now with &:before.
    // padding: 10px;
    // box-sizing: border-box;
    padding: 10px 0;

    &:before {
      content: '\0000a0';
      width: 10px;
      float: left;
    }
  }

  &__row {
    background-color: #EEE;

    &--odd {
      background-color: #E9E9EC;
    }
  }

  &__row:hover &__column {
    cursor: pointer;
    background-color: #428bca;
    color: white;
  }

  &__insert {
    background-color: #EEE;

    padding: 10px;

    flex: 1;
  }
}
