@gray-dark: #2e2e2e;
@gray-darker: #1e1e1e;
@gray: #6c6c6c;
@gray-light: #a4a4a4;

.st2-flex-table {
  margin-bottom: 20px;

  box-shadow: 0 0 5px rgba(0,0,0,0.7);

  background-color: #EAEAEA;

  position: relative;

  &__caption {
    background: @gray;
    padding: 10px 15px;
    clear: both;

    &-title {
      color: #fff;

      font-size: 15px;
      font-weight: 200;
      font-family: Oswald;

      text-transform: uppercase;

      margin: 0;
    }

    &[ng-click] {
      cursor: pointer;

      &:after {
        content: '\e804';

        font-family: "ststanley";
        font-style: normal;
        font-weight: normal;

        display: block;

        position: absolute;
        top: 14px;
        right: 14px;
      }
    }
  }

  &--contracted &__caption[ng-click]:after {
    content: '\e803';
  }

  &--contracted &__row,
  &--contracted &__header {
    display: none;
  }

  &__row, &__header {
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    height: 40px;
  }

  &__header {
    color: #fff;
    background-color: @gray-light;
    font-weight: 200;
    font-family: Oswald;
    letter-spacing: 0.01em;
  }

  &__column {
    flex: 1;
    padding: 0 10px;
    line-height: 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__row {
    &--even {
      background-color: rgba(255,255,255,0.5);
    }

    &--active,
    &&--active:hover { // Specificity of 0030
      background-color: #01C5FF;
      color: white;
    }
  }

  &__row:hover { // Specificity of 0020
    cursor: pointer;
    background-color: #D2E6ED;
  }

  &--passive &__row:hover {
    cursor: default;
    background-color: initial;
  }

  &--passive &__row--even:hover {
    background-color: rgba(255,255,255,0.5);
  }

  &__insert {
    background-color: #F4F4F4;

    margin: 0;
    padding: 10px;

    flex: 1;
  }
}
