.st2-flex-table {
  margin-bottom: 20px;

  box-shadow: 0 0 5px rgba(0,0,0,0.7);

  &__caption {
    background: #4d585a;
    padding: 10px 15px;
    clear: both;

    &-title {
      color: white;

      font-size: 15px;
      font-weight: 200;
      font-family: Oswald;

      text-transform: uppercase;

      margin: 0;
    }
  }

  &__row, &__header {
    display: flex;
  }

  &__header {
    color: #3b3b3b;
    background-color: #B3BDBF;
    font-weight: 400;
    font-family: Oswald;
    letter-spacing: 0.01em;
  }

  &__column {
    flex: 1;
    // doesn't work the way you expect it to work breaking the grid depending on a number of
    // elements with padding. Lets hack it for now with &:before.
    // padding: 10px;
    // box-sizing: border-box;
    padding: 10px 0;

    &:before {
      content: '\0000a0';
      width: 10px;
      float: left;
    }
  }

  &__row {
    background-color: #EBF5F7;

    &--odd {
      background-color: #E2ECEE;
    }
  }

  &__row:hover &__column {
    cursor: pointer;
    background-color: #01C5FF;
    color: white;
  }

  &__insert {
    background-color: #EEE;

    padding: 10px;

    flex: 1;
  }
}
