.st2-flex-table {
  position: relative;

  color: black;
  background-color: transparent;

  margin-left: 10px;

  &__caption {
    position: relative;

    display: flex;
    align-items: center;

    margin: 10px;
    margin-left: 10px;

    &-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 42px;

      display: inline-block;

      margin: 0;

      letter-spacing: .6px;
      text-transform: uppercase;

      color: black;
    }

    &-note {
      margin: 0;
    }

    & {
      /* we're now assuming that every flextable caption is clickable */
      cursor: pointer;

      &:after {
        font-family: "brocadeicons";
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        line-height: 42px;

        display: block;

        padding: 0 5px;

        content: "\e95f";

        color: rgba(0, 0, 0, .6);

        order: -1;
      }
    }

    &:before {
      /* Calendar icon is missing in brocade pack */
      font-family: "brocadeicons";
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      line-height: 42px;

      display: inline-block;

      padding: 0 5px;

      vertical-align: top;
    }

    &--pack img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      padding: 5px;

      vertical-align: top;

      border-radius: 5px;
      background: white;

      overflow: hidden;

      &:not([src]) {
        display: none;
      }
    }

    &--pack img:before {
      /* Calendar icon is missing in brocade pack */
      font-family: "brocadeicons";
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      line-height: 20px;

      display: inline-block;

      padding-bottom: 10px;

      vertical-align: top;

      width: 16px;
      height: 16px;
      margin-right: 5px;

      content: "\e94d";
      text-align: center;

      color: black;
      border-radius: 5px;
      background: white;
    }

    &--date:before {
      content: "\e978";
    }
  }

  &--collapsed &__caption:after {
    content: "\e972";
  }

  &--collapsed .st2-flex-card,
  &--collapsed &__row,
  &--collapsed &__header,
  &--collapsed .st2-history-child {
    display: none;
  }

  &__row,
  &__header {
    display: flex;
    overflow: hidden;

    padding: 8px 0;

    flex-wrap: wrap;

    align-items: center;

    border-bottom: 1px solid #ccc;

    &--expanded {
      border-bottom: none;
    }
  }

  &__header {
    font-size: 13px;
    font-weight: 400;

    display: flex;

    padding: 9px 0;

    letter-spacing: .06px;
    text-transform: uppercase;

    color: #fff;
  }

  &__column {
    overflow: hidden;
    flex: 1;

    padding: 0 10px;

    white-space: nowrap;
    text-overflow: ellipsis;

    &--fixed {
      flex: initial;
    }
  }

  &__row:hover {
    /* Specificity of 0020 */
    cursor: pointer;
  }

  &--passive &__row:hover {
    cursor: default;
  }

  &--passive &__row--even:hover {
    background-color: rgba(255,255,255,.5);
  }
}

.st2-flex-insert {
  flex: 1;

  margin: 0;
  padding: 10px;
  padding-left: 0;

  border-bottom: 1px solid #ccc;
  
  display: grid;
  grid-template-columns: 50% 50%;

  & > * {
    grid-column-start: 1;
    grid-column-end: -1;
    overflow: hidden;
  }

  &__column {
    grid-column: initial;
    overflow: hidden;
  }
}

.st2-flex-card {
  position: relative;

  padding: 0;

  &:hover {
    cursor: pointer;

    background: #DEEEFB;
  }

  & &__expand {
    font-size: 10px;
    line-height: 31px;

    flex: initial;

    box-sizing: content-box;
    min-width: 10px;
    padding-right: 0;
  }

  & &__timestamp {
    line-height: 32px;

    flex: initial;
  }

  & &__status {
    font-size: 18px;
    line-height: 32px;

    flex: initial;

    width: 31px;

    text-align: right;

    color: #929196;

    padding-right: 0;
  }

  &__header {
    position: relative;

    display: flex;

    &-primary {
      font-size: 14px;

      overflow: hidden;

      text-overflow: ellipsis;
    }

    &-secondary {
      font-size: 12px;

      overflow: hidden;

      text-overflow: ellipsis;
    }

    /* increasing specificity for flex to propagate */
    & &-status {
      font-size: 21px;

      display: flex;
      flex: 0 0 52px;

      color: #929196;

      order: 99;
      align-items: center;
    }

    & &-type {
      line-height: 52px;

      flex: 0 0 auto;

      padding: 0;

      color: #929196;
    }

    & &-version {
      line-height: 52px;

      flex: 0 0 auto;

      padding-top: 0;
      padding-bottom: 0;

      color: #929196;

      &--outdated {
        color: #ff9e1b;
      }
    }

    & &-expand {
      font-size: 15px;

      flex: initial;

      padding-left: 20px;
    }

    i[ng-click] {
      cursor: pointer;
    }
  }

  &__row {
    display: flex;
    overflow: hidden;

    flex-wrap: wrap;
  }

  &__column {
    position: relative;

    flex: 1;

    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    max-height: 52px;
    padding: 10px 15px;

    white-space: nowrap;

    border-bottom: 1px solid #B3B0BA;
  }

  &--active {
    background-color: #008CEB;

    color: white;

    &:hover {
      background-color: #008CEB;
    }
  }

  &--active &__header-type,
  &--active &__header-status,
  &--active &__status {
    color: white;
  }

  &--active &__header-expand,
  &--active &__expand {
    /* padding-left: 25px; */
  }

  &--expanded &__row {
    border: 1px solid #ccc;
    border-top: 0;
    box-shadow: 0 1px 4px #ccc;

    position: relative;
  }

  &--expanded &__column {
    border: 0;
  }
}
