@import 'colors';

.st2-popup {
  font-family: 'Open Sans';

  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;

  color: #515151;
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, .8);

  &__details {
    height: 100%;
    margin: 0 auto;

    cursor: default;
  }

  &__title {
    font-family: Oswald;
    font-size: 28px;
    font-weight: 200;
  }
}
