@import 'colors';

.st2-criteria {
  &__line {
    // Combobox suggestion box takes all the space of the next prlatively positioned element.
    // In this case we want it to be as wide as the whole criteria.
    position: relative;

    display: flex;

    word-spacing: 3px;

    flex-wrap: wrap;

    &:after {
      display: block;

      width: 100%;
      margin-top: -10px; // TODO: find a better way

      content: 'and';
      text-align: center;
    }

    &:last-child {
      margin-bottom: -12px;

      &:after {
        content: '';
      }
    }
  }

  &__entity {
    display: block;
    flex: 1;

    margin-right: 4px;

    vertical-align: top;
  }

  &__remove {
    margin-bottom: 10px;

    cursor: pointer;

    color: @grey-lighten-5;
    text-shadow: 0 1px 0 @grey-base,
    1px 0 0 @grey-base,
    0 -1px 0 @grey-base,
    -1px 0 0 @grey-base;

    align-self: center;
  }

  &__remove:hover {
    color: white;
  }

  &__buttons {
    margin-top: 20px;
  }
}
