<div>
  <div class="st2-criteria__line"
      ng-repeat="item in result">
    <div class="st2-form-namespace st2-criteria__entity"
        spec="autocompleteSpec"
        disabled="disabled"
        ng-model="item.key">
    </div>
    <div class="st2-manual-form st2-form-select st2-criteria__entity"
        spec="typeSpec"
        disabled="disabled"
        ng-model="item.value.type">
    </div>
    <div class="st2-manual-form st2-form-input st2-criteria__entity"
        spec="patternSpec"
        disabled="disabled"
        ng-model="item.value.pattern">
    </div>
    <i class="st2-icon__cancel st2-criteria__remove"
        ng-if="!disabled"
        ng-click="remove(item)"></i>
  </div>
</div>
<div class="st2-criteria__buttons" ng-if="!disabled">
  <input type="button"
      class="st2-forms__button st2-forms__button--small"
      ng-click="add()"
      value="Add criteria">
</div>
