<label class="st2-auto-form__label"
  ng-class="{'st2-auto-form--required': spec.required}">

  <div class="st2-auto-form__title"
      ng-if="spec.name || name">
    {{ spec.name || name }}
  </div>

  <input type="text"
    class="st2-auto-form__field st2-auto-form__field--combo"
    data-test="field:{{spec.name || name}}"
    placeholder="{{spec.default}}"
    ng-required="spec.required"
    ng-model="rawResult"
    ng-model-options="{
      allowInvalid: true
    }"
    ng-focus="focus()"
    ng-blur="blur()"
    ng-suggestions="spec.enum"
    ng-keydown="keydown($event)"
    ng-disabled="disabled" />

</label>

<div class="st2-auto-form__suggestions"
    ng-show="showSuggestions && sample.length">
  <div class="st2-auto-form__suggestion"
      ng-repeat="suggestion in sample = (spec.enum | filter:{name:rawResult})"
      ng-class="{'st2-auto-form__suggestion--active': $parent.selected == $index}"
      ng-click="choose($index)">
    <div class="st2-auto-form__suggestion-primary">{{ suggestion.name }}</div>
    <div class="st2-auto-form__suggestion-secondary">{{ suggestion.description }}</div>
  </div>
</div>

<p class="st2-auto-form__description"
    ng-if="spec.description">
  {{ spec.description }}
</p>
