@import (reference) '/components/bootstrap/less/variables.less';
@import (reference) '/components/bootstrap/less/mixins.less';

@import (reference) '/components/bootstrap/less/code.less';

.st2-action-reporter {
  pre:extend(pre) {}

  &__header {
    margin-bottom: 10px;
  }

  &__time {
    margin-left: 10px;
  }
}
