.st2-action-reporter {
  &__header {
    margin-bottom: 10px;
  }

  &__hostname {
    font-size: 15px;
    margin: 5px 0;
  }

  &__source {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 -5px;

    background-color: #2e2e2e;
    color: #888;

    border-radius: 5px 5px 0 0;
  }

  &__time {
    margin-left: 10px;
  }

  &__message {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-family: Oswald;

    color: #555;

    padding: 20px 0;
  }
}
