@size: 32px;
@sizesm: 24px;

.st2-pack-icon {
  position: relative;

  display: inline-block;

  width: @size;
  height: @size;

  vertical-align: middle;

  border: 5px solid #fff;
  border-radius: 5px;
  background: #fff;

  &:after {
    font-family: 'brocadeicons';
    font-size: @size;
    line-height: 1;

    position: absolute;
    top: 0;
    left: 0;

    width: @size;
    height: @size;

    content: '\e94d';
    text-align: center;

    color: #000;
  }

  &-small {
    width: @sizesm;
    height: @sizesm;

    border: 4px solid #fff;

    &:after {
      font-size: @sizesm;

      top: 0;

      width: @sizesm;
      height: @sizesm;
    }
  }

  &__image {
    position: relative;
    z-index: 1;

    width: @size;
    height: @size;

    background: #fff;
    box-shadow: 0 0 0 3px white;

    &-small {
      width: @sizesm;
      height: @sizesm;
    }
  }
}
