@import "layout";

.st2-history {
  #st2-layout > #panel;

  // for .st2-panel__back-button to fill the right block
  position: relative;

  flex: 1;

  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      flex: none;
      width: 30px;
      font-size: 10px;
      line-height: 18px;
    }
    &-action, &-rule, &-trigger {
      flex: 2;
    }
    &-status {
      flex: 1;
    }
  }

}
