.st2-history {
  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      font-size: 10px;

      flex: none;

      width: 30px;
    }
    &-time {
      flex: 1 70px;
    }
    &-action {
      flex: 2 50px;
    }
    &-triggered {
      flex: 3 150px;
    }
    &-status {
      flex: 1 70px;
    }
  }
}
