<header class="st2-menu"></header>

<main class="st2-panel">

  <div class="st2-panel__view st2-history" cg-busy="busy">

    <div class="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          History
        </div>

        <div class="st2-panel__toolbar-filters"
            ng-show="filters">
          <div class="st2-filter" filters="filters" type="status"
            ng-if="!_.isEmpty(filters['status'])"></div>
          <div class="st2-filter" filters="filters" type="action"
            ng-if="!_.isEmpty(filters['action'])"></div>
          <div class="st2-filter" filters="filters" type="trigger_type" label="Trigger Type"
            ng-if="!_.isEmpty(filters['trigger_type'])"></div>
          <div class="st2-filter" filters="filters" type="rule"
            ng-if="!_.isEmpty(filters['rule'])"></div>
        </div>

        <div class="st2-panel__toolbar-view">
          <div class="st2-view" view-settings="view"></div>
        </div>
      </div>

      <div class="st2-panel__content">
        <div class="st2-flex-table"
            ng-repeat="group in groups = (history | orderBy:'period':true)"
            ng-if="history && !_.isEmpty(groups)">

          <div class="st2-flex-table__caption st2-flex-table__caption--date"
              ng-click="toggle()">
            <h2 class="st2-flex-table__caption-title">{{ group.period | date:'fullDate':'UTC'}}</h2>
          </div>

          <div class="st2-flex-table__header">
            <div class="st2-flex-table__column st2-history__column-utility"></div>
            <div class="st2-flex-table__column st2-history__column-meta"
                ng-if="view.meta.value">
            </div>
            <div class="st2-flex-table__column st2-history__column-action"
                ng-if="view.action.value">
              Action
            </div>
            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-if="view.trigger.value">
              Triggered By
            </div>
          </div>

          <div class="st2-flex-table__row"
              ng-class-odd="'st2-flex-table__row--odd'"
              ng-class-even="'st2-flex-table__row--even'"
              ng-class="{'st2-flex-table__row--active': record.id == $parent.record.id}"
              ng-repeat-start="record in group.records | orderBy:'start_timestamp':true"
              ng-click="$root.go(_.defaults({id: record.id}, $root.state.params))">

            <div class="st2-flex-table__column st2-history__column-utility"
                ng-click="(record | isExpandable) && expand(record, $event)">
              <i ng-class="record._expanded && 'st2-icon__down-open' || 'st2-icon__right-open'"
                  ng-if="(record | isExpandable)">
              </i>
            </div>

            <div class="st2-flex-table__column st2-history__column-meta"
                ng-if="view.meta.value">
              <div class="st2-history__column-meta-status">
                <span class="st2-label st2-label--short" status="record.status"
                  ng-if="view.meta.subview.status.value"></span>
                <i class="st2-icon__flow-cascade"
                  ng-if="(record | isExpandable) && view.meta.subview.type.value"></i>
              </div>
              <div class="st2-history__column-meta-time"
                  ng-if="view.meta.subview.time.value">
                {{ record.start_timestamp | date:'mediumTime':'UTC' }}
              </div>
            </div>

            <div class="st2-flex-table__column st2-history__column-action"
                title="{{ $root.getRef(record.action) }}"
                ng-if="view.action.value">
              <span class="st2-history__column-action-name">
                {{ $root.getRef(record.action) }}
              </span>
              <span class="st2-history__column-action-params"
                  ng-if="view.action.subview.params.value"><!--
            !--><span class="st2-history__column-action-param-name"
                    ng-repeat-start="(name, value) in record.parameters"><!--
              !-->{{ name }}=<!--
            !--></span><!--
            !--><span class="st2-history__column-action-param-value"><!--
              !-->{{ value | fmtParam }}<!--
            !--></span><!--
            !--><span ng-if="!$last"
                    ng-repeat-end>, </span><!--
          !--></span>
            </div>

            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-switch="record.rule && record.trigger && true"
                ng-if="view.trigger.value">
              <span ng-switch-when="true"
                  title="{{ record.rule.name }} ({{ record.trigger.type }})">
                <span class="st2-history__column-rule-name">
                  {{ record.rule.name }}
                </span>
                <span class="st2-history__column-trigger-type">
                  {{ record.trigger.type }}
                </span>
              </span>
              <span ng-switch-default>
                <span class="st2-history__column-app-name">
                  Manual
                </span>
                <span class="st2-history__column-user-name">
                  by {{ record.context.user }}
                </span>
              </span>
            </div>

          </div>

          <div class="st2-history-child"
              workflow="record"
              view="view"
              ng-if="(record | isExpandable) && record._expanded">
          </div>
          <div ng-repeat-end
              class="st2-flex-table__header"
              ng-if="(record | isExpandable) && record._expanded && !$last">
            <div class="st2-flex-table__column st2-history__column-utility"></div>
            <div class="st2-flex-table__column st2-history__column-meta"
              ng-if="view.time.value">
            </div>
            <div class="st2-flex-table__column st2-history__column-action"
                ng-if="view.action.value">
              Action
            </div>
            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-if="view.trigger.value">
              Triggered By
            </div>
          </div>

        </div>

        <div class="st2-panel__content-empty"
            ng-if="history && _.isEmpty(groups)">
          No results were found for your current filter
        </div>

        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)"
            ng-switch="error.status">
          <div ng-switch-when="401">
            <p class="st2-panel__content-error-title">
              This server requires authentication
            </p>
            <p>
              For information on how to set up authentication, please refer to
              <a href="http://docs.stackstorm.com/webui.html#authentication">this section</a>
              of StackStorm WebUI docs.
            </p>
          </div>
          <div ng-switch-default>
            <p class="st2-panel__content-error-title">Unable to reach API server</p>
            <p>Check developer console of your browser for more info.</p>
          </div>
        </div>
      </div>

      <button class="st2-panel__prev-button st2-forms__button-left"
          ng-click="prevPage()"
          ng-class="{'st2-forms__button-left--disabled': ($root.page || 1) < 2}"
          ng-if="!error && !_.isEmpty(groups)">
        Previous
      </button>
      <button class="st2-panel__next-button st2-forms__button-right"
          ng-click="nextPage()"
          ng-class="{'st2-forms__button-right--disabled': ($root.page || 1) >= $root.maxPage}"
          ng-if="!error && !_.isEmpty(groups)">
        Next
      </button>

    </div>
  </div>

  <div class="st2-panel__details st2-details"
      ng-show="record">

    <div class="st2-details__header">
      <div class="st2-details__header-name">
        <a ui-sref="actions.general({ref:$root.getRef(record.action)})">
          {{ $root.getRef(record.action) }}
        </a>
      </div>
      <div class="st2-details__header-description">{{ record.action.description }}</div>
    </div>

    <div class="st2-details__toolbar">

      <input type="button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-click="rerun.open()"
          value="Rerun"/>

      <div class="st2-details__toolbar-separator"></div>

      <div class="st2-details__switch st2-details__switch--of-two"
          ng-class="{
            'st2-details__switch--first': $root.isState(['^.general', '^.list']),
            'st2-details__switch--second': $root.isState('^.code')
          }">
        <div class="st2-details__switch-item"
            ng-click="$root.state.go('^.general', {id: record.id})">
          <i class="st2-icon__cogs"></i>
        </div>
        <div class="st2-details__switch-item"
            ng-click="$root.state.go('^.code', {id: record.id})">
          <i class="st2-icon__code"></i>
        </div>
      </div>

    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState(['^.general', '^.list'])}">

      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Action Output</h2>
          </div>

          <div class="st2-action-reporter__header">
            <span class="st2-label" status="record.status"></span>
            <time class="st2-action-reporter__time"
                datetime="{{record.start_timestamp}}">
              {{ record.start_timestamp | date:'medium':'UTC' }}
            </time>
          </div>

          <div class="st2-details__panel-body">
            <div class="st2-action-reporter"
            runner="record.runner.name"
            execution="record"></div>
          </div>
        </div>

        <div class="st2-details__panel"
            ng-show="record.rule">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Trigger Details</h2>
          </div>
          <div class="st2-details__panel-body">
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.rule.name">
                Rule Name
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.rule.name">
                <a ui-sref="rules.general({id: record.rule.id})">
                  {{ record.rule.name }}
                </a>
              </dd>
            </dl>
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.rule.description">
                Rule Description
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.rule.description">
                {{ record.rule.description }}
              </dd>
            </dl>
          </div>
        </div>

        <div class="st2-details__panel"
            ng-show="record.trigger">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Rule Details</h2>
          </div>
          <div class="st2-details__panel-body">
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.trigger.name">
                Trigger Name
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.trigger.name">
                {{ record.trigger.name }}
              </dd>
            </dl>
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.trigger_instance.occurrence_time">
                Occurrence time
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.trigger_instance.occurrence_time">
                {{ record.trigger_instance.occurrence_time | date:'medium':'UTC' }}
              </dd>
            </dl>
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.trigger_instance.payload">
                Trigger payload
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.trigger_instance.payload">
                <div class="st2-highlight" code="record.trigger_instance.payload | json"
                    language="javascript"></div>
              </dd>
            </dl>
          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Action Input</h2>
          </div>
          <div class="st2-details__panel-body">
            <form role="form" class="st2-details__form">
              <div class="st2-auto-form"
                spec="actionSpec"
                disabled="true"
                ng-model="payload">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-body">
            <div class="st2-highlight" code="record | json" lines="20" language="javascript"></div>
          </div>
        </div>

      </div>
    </div>

  </div>

</main>

<div class="st2-popup"
    ng-show="$root.isState('^.rerun')"
    ng-click="rerun.cancel()">
  <div class="st2-panel__details st2-details st2-popup__details"
      ng-click="$event.stopPropagation()">
    <div class="st2-panel__scroller">

      <form name="rerunform">

        <div class="st2-popup__title">
          Rerun an execution
        </div>

        <div class="st2-auto-form"
          spec="rerun.metaSpec"
          ng-model="record.action"
          disabled="true">
        </div>

        <div class="st2-auto-form"
          spec="rerun.actionSpec"
          ng-model="rerun.payload">
        </div>

        <input type="submit"
            class="st2-forms__button st2-details__toolbar-button"
            ng-disabled="rerunform.$invalid"
            ng-click="rerun.submit()"
            value="Save"/>
        <input type="button"
            class="st2-forms__button st2-details__toolbar-button"
            ng-click="rerun.cancel()"
            value="Cancel"/>

        <span class="st2-details__toolbar-message st2-details__toolbar-message-error"
            ng-show="rerunform.err">
          Error! Check console.
        </span>

      </form>

    </div>
  </div>
</div>

<div class="st2-report"></div>
