<header class="st2-menu"></header>

<main class="st2-panel">

  <div class="st2-panel__view st2-history">

    <div class="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          History
        </div>

        <div class="st2-panel__toolbar-filters"
            ng-show="filters">
          <div class="st2-filter" filters="filters" type="action"
            ng-hide="_.isEmpty(filters['action'])"></div>
          <div class="st2-filter" filters="filters" type="trigger_type" label="Trigger Type"
            ng-hide="_.isEmpty(filters['trigger_type'])"></div>
          <div class="st2-filter" filters="filters" type="rule"
            ng-hide="_.isEmpty(filters['rule'])"></div>
        </div>

        <div class="st2-panel__toolbar-view">
          <div class="st2-view" view-settings="view"></div>
        </div>
      </div>

      <div class="st2-panel__content">
        <div class="st2-flex-table"
            ng-repeat="group in groups = (history | orderBy:'period':true)"
            ng-if="history && !_.isEmpty(groups)">

          <div class="st2-flex-table__caption st2-flex-table__caption--date"
              ng-click="toggle()">
            <h2 class="st2-flex-table__caption-title">{{ group.period | date:'fullDate'}}</h2>
          </div>

          <div class="st2-flex-table__header">
            <div class="st2-flex-table__column st2-history__column-utility"></div>
            <div class="st2-flex-table__column st2-history__column-meta"
                ng-if="view.meta.value">
            </div>
            <div class="st2-flex-table__column st2-history__column-action"
                ng-if="view.action.value">
              Action
            </div>
            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-if="view.trigger.value">
              Triggered By
            </div>
          </div>

          <div class="st2-flex-table__row"
              ng-class-odd="'st2-flex-table__row--odd'"
              ng-class-even="'st2-flex-table__row--even'"
              ng-class="{'st2-flex-table__row--active': record.id == $parent.record.id}"
              ng-repeat-start="record in group.records | orderBy:'execution.start_timestamp':true"
              ng-click="$root.go(_.defaults({id: record.id}, $root.state.params))">

            <div class="st2-flex-table__column st2-history__column-utility"
                ng-click="(record | isExpandable) && expand(record, $event)">
              <i ng-class="record._expanded && 'st2-icon__down-open' || 'st2-icon__right-open'"
                  ng-if="(record | isExpandable)">
              </i>
            </div>

            <div class="st2-flex-table__column st2-history__column-meta"
                ng-if="view.meta.value">
              <div class="st2-history__column-meta-status">
                <span class="st2-label st2-label--short" status="record.execution.status"
                  ng-if="view.meta.subview.status.value"></span>
                <i class="st2-icon__flow-cascade"
                  ng-if="(record | isExpandable) && view.meta.subview.type.value"></i>
              </div>
              <div class="st2-history__column-meta-time"
                  ng-if="view.meta.subview.time.value">
                {{ record.execution.start_timestamp | date:'mediumTime' }}
              </div>
            </div>

            <div class="st2-flex-table__column st2-history__column-action"
                title="{{ $root.getRef(record.action) }}"
                ng-if="view.action.value">
              <span class="st2-history__column-action-name">
                {{ $root.getRef(record.action) }}
              </span>
              <span class="st2-history__column-action-params"
                  ng-if="view.action.subview.params.value"><!--
            !--><span class="st2-history__column-action-param-name"
                    ng-repeat-start="(name, value) in record.execution.parameters"><!--
              !-->{{ name }}=<!--
            !--></span><!--
            !--><span class="st2-history__column-action-param-value"><!--
              !-->{{ value | fmtParam }}<!--
            !--></span><!--
            !--><span ng-if="!$last"
                    ng-repeat-end>, </span><!--
          !--></span>
            </div>

            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-switch="record.rule && record.trigger && true"
                ng-if="view.trigger.value">
              <span ng-switch-when="true"
                  title="{{ record.rule.name }} ({{ record.trigger.type }})">
                {{ record.rule.name }} ({{ record.trigger.type }})
              </span>
              <span ng-switch-default>Manual</span>
            </div>

          </div>

          <div class="st2-history-child"
              workflow="record"
              view="view"
              ng-if="(record | isExpandable) && record._expanded">
          </div>
          <div ng-repeat-end
              class="st2-flex-table__header"
              ng-if="(record | isExpandable) && record._expanded && !$last">
            <div class="st2-flex-table__column st2-history__column-utility"></div>
            <div class="st2-flex-table__column st2-history__column-meta"
              ng-if="view.time.value">
            </div>
            <div class="st2-flex-table__column st2-history__column-action"
                ng-if="view.action.value">
              Action
            </div>
            <div class="st2-flex-table__column st2-history__column-triggered"
                ng-if="view.trigger.value">
              Triggered By
            </div>
          </div>

        </div>

        <div class="st2-panel__content-empty"
            ng-if="history && _.isEmpty(groups)">
          No results were found for your current filter
        </div>

        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)">
          Request failed: {{ error }}
        </div>
      </div>

      <button class="st2-panel__prev-button st2-forms__button-left"
          ng-click="prevPage()"
          ng-class="{'st2-forms__button-left--disabled': ($root.page || 1) < 2}">
        Previous
      </button>
      <button class="st2-panel__next-button st2-forms__button-right"
          ng-click="nextPage()"
          ng-class="{'st2-forms__button-right--disabled': ($root.page || 1) >= $root.maxPage}">
        Next
      </button>

    </div>

    <div class="st2-loader"></div>
  </div>

  <div class="st2-panel__details st2-details"
      ng-show="record">
    <div class="st2-panel__scroller">

      <div class="st2-details__panel">
        <div class="st2-details__panel-heading">
          <h2 class="st2-details__panel-title">Action Output</h2>
        </div>

        <div class="st2-action-reporter__header">
          <span class="st2-label" status="record.execution.status"></span>
          <time class="st2-action-reporter__time"
              datetime="{{record.execution.start_timestamp}}">
            {{ record.execution.start_timestamp | date:'medium' }}
          </time>
        </div>

        <div class="st2-details__panel-body">
          <div class="st2-action-reporter"
          runner="record.runner.name"
          execution="record.execution"></div>
        </div>
      </div>

      <div class="st2-details__panel">
        <div class="st2-details__panel-heading">
          <h2 class="st2-details__panel-title">History Record Details</h2>
        </div>
        <div class="st2-details__panel-body">
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label"
                ng-if="record.rule.name">
              Rule Name
            </dt>
            <dd class="st2-details__panel-body-value"
                ng-if="record.rule.name">
              {{ record.rule.name }}
            </dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label"
                ng-if="record.rule.description">
              Rule Description
            </dt>
            <dd class="st2-details__panel-body-value"
                ng-if="record.rule.description">
              {{ record.rule.description }}
            </dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label"
                ng-if="record.trigger.name">
              Trigger Name
            </dt>
            <dd class="st2-details__panel-body-value"
                ng-if="record.trigger.name">
              {{ record.trigger.name }}
            </dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label"
                ng-if="record.trigger_instance.occurrence_time">
              Occurrence time
            </dt>
            <dd class="st2-details__panel-body-value"
                ng-if="record.trigger_instance.occurrence_time">
              {{ record.trigger_instance.occurrence_time | date:'medium' }}
            </dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label"
                ng-if="record.trigger_instance.payload">
              Trigger payload
            </dt>
            <dd class="st2-details__panel-body-value"
                ng-if="record.trigger_instance.payload">
              <div class="st2-highlight" code="record.trigger_instance.payload | json" full="true"></div>
            </dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label">Action</dt>
            <dd class="st2-details__panel-body-value">{{ $root.getRef(record.action) }}</dd>
          </dl>
          <dl class="st2-details__panel-body-line">
            <dt class="st2-details__panel-body-label">Runner</dt>
            <dd class="st2-details__panel-body-value">{{ record.action.runner_type }}</dd>
          </dl>
        </div>
      </div>

      <div class="st2-details__panel">
        <div class="st2-details__panel-heading">
          <h2 class="st2-details__panel-title">Action Input</h2>
        </div>
        <div class="st2-details__panel-body">
          <form role="form" class="st2-details__form">
            <div class="st2-auto-form"
              spec="spec"
              result="payload">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</main>
