<header class="st2-menu st2-menu--green"></header>

<main class="st2-panel" data-test="history_panel">

  <div class="st2-panel__view st2-history" cg-busy="busy">

    <div class="st2-panel__toolbar">
      <div class="st2-panel__toolbar-title">
        History
      </div>

      <div class="st2-panel__toolbar-filters"
          ng-show="filters">
        <div class="st2-filter" items="filters['status']" active-items="active_filters['status']"
             label="Status" on-change="$root.updateFiltersAndGo('status', activeItems)"
             ng-if="!_.isEmpty(filters['status'])"></div>
        <div class="st2-filter" items="filters['action']" active-items="active_filters['action']"
             label="Action" on-change="$root.updateFiltersAndGo('action', activeItems)"
             ng-if="!_.isEmpty(filters['action'])"></div>
        <div class="st2-filter" items="filters['trigger_type']" active-items="active_filters['trigger_type']"
             label="Trigger Type" on-change="$root.updateFiltersAndGo('trigger_type', activeItems)"
             ng-if="!_.isEmpty(filters['trigger_type'])"></div>
        <div class="st2-filter" items="filters['rule']" active-items="active_filters['rule']"
             label="Rule" on-change="$root.updateFiltersAndGo('rule', activeItems)"
             ng-if="!_.isEmpty(filters['rule'])"></div>
      </div>

      <div class="st2-panel__toolbar-view">
        <div class="st2-view" view-settings="view"></div>
      </div>

      <div class="st2-panel__toolbar-toggle-all"
          ng-class="{'st2-panel__toolbar-toggle-all--collapsed': areFlexTablesCollapsed('history')}"
          ng-click="toggleFlexTables('history')"></div>
    </div>

    <div class="st2-panel__content">
      <div class="st2-panel__scroller" id="st2-panel__scroller">
        <div class="st2-flex-table"
            ng-repeat="group in groups = (history | orderBy:'period':true)"
            ng-if="history && !_.isEmpty(groups)"
            ng-class="{'st2-flex-table--collapsed': isCollapsed()}"
            st2-flex-table-type="history"
            st2-flex-table-id="{{ group.period }}">

          <div class="st2-flex-table__caption st2-flex-table__caption--date"
              ng-click="toggle()">
            <h2 class="st2-flex-table__caption-title">
              {{ group.period | date:'EEE, dd MMM y':'UTC'}}
            </h2>
          </div>

          <div class="st2-flex-card"
              data-test="record"
              ng-class="{'st2-flex-card--active': record.id == $parent.record.id}"
              ng-repeat-start="record in group.records | orderBy:'start_timestamp':true"
              ng-click="$root.go({id: record.id})"
              st2-scroll-into-view="{{ record.id === $parent.record.id }}"
              st2-scroll-into-view-container="st2-panel__scroller">

            <div class="st2-flex-card__header"
                ng-if="view.meta.value">
              <div class="st2-flex-card__column st2-flex-card__header-status">
                <i class="st2-icon__flow-cascade"
                  ng-if="(record | isExpandable) && view.meta.subview.type.value"></i>
                <span class="st2-label" status="record.status"
                  ng-if="view.meta.subview.status.value"></span>
              </div>
              <div class="st2-flex-card__column">
                <div class="st2-flex-card__header-primary"
                    ng-if="view.meta.subview.time.value">
                  <i ng-class="record._expanded && 'icon-chevron-down' || 'icon-chevron-up'"
                      ng-click="(record | isExpandable) && expand(record, $event)"
                      ng-if="(record | isExpandable)">
                  </i>
                  {{ record.start_timestamp | date:'HH:mm:ss UTC':'UTC' }}
                </div>
              </div>
            </div>

            <div class="st2-flex-card__row">
              <div class="st2-flex-card__column st2-flex-card__if"
                  ng-switch="record.rule && record.trigger && true"
                  ng-if="view.trigger.value">
                <span ng-switch-when="true"
                    title="{{ record.rule.ref }} ({{ record.trigger.type }})">
                  <span class="st2-history__column-rule-name">
                    {{ record.rule.ref }}
                  </span>
                  <span class="st2-history__column-trigger-type">
                    {{ record.trigger.type }}
                  </span>
                </span>
                <span ng-switch-default>
                  <span class="st2-history__column-app-name">
                    Manual
                  </span>
                  <span class="st2-history__column-user-name">
                    {{ record.context.user }}
                  </span>
                </span>
              </div>

              <div class="st2-flex-card__column st2-flex-card__then"
                  title="{{ $root.getRef(record.action) }}"
                  ng-if="view.action.value">
                <span class="st2-history__column-action-name">
                  {{ $root.getRef(record.action) }}
                </span>
                <span class="st2-history__column-action-params st2-proportional"
                    ng-if="view.action.subview.params.value">
                  <span class="st2-history__column-action-param"
                      ng-repeat="(name, value) in record.parameters"><!--
                 --><span ng-if="!$first">,&nbsp;</span><!--
                 --><span class="st2-history__column-action-param-name"><!--
                   -->{{ name }}=<!--
                 --></span><!--
                 --><span class="st2-history__column-action-param-value"><!--
                   -->{{ value | fmtParam }}<!--
                 --></span><!--
               --></span>
                </span>
              </div>
            </div>

          </div>

          <div class="st2-history-child"
              ng-repeat-end
              workflow="record"
              view="view"
              ng-if="(record | isExpandable) && record._expanded">
          </div>

        </div>

        <div class="st2-panel__content-empty"
            ng-if="history && _.isEmpty(groups)">
          No results were found for your current filter
        </div>

        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)"
            ng-switch="error.status">
          <div ng-switch-when="401">
            <p class="st2-panel__content-error-title">
              This server requires authentication
            </p>
            <p>
              For information on how to set up authentication, please refer to
              <a href="http://docs.stackstorm.com/webui.html#authentication">this section</a>
              of StackStorm WebUI docs.
            </p>
          </div>
          <div ng-switch-default>
            <p class="st2-panel__content-error-title">Unable to reach API server</p>
            <p>Check developer console of your browser for more info.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="st2-panel__navigation">
      <button class="st2-forms__button-left st2-forms__button-prev"
          ng-click="prevPage()"
          ng-class="{'st2-forms__button-prev--disabled': ($root.page || 1) < 2}"
          ng-if="!error && !_.isEmpty(groups)">
        Previous
      </button>
      <button class="st2-forms__button-right st2-forms__button-next"
          ng-click="nextPage()"
          ng-class="{'st2-forms__button-next--disabled': ($root.page || 1) >= $root.maxPage}"
          ng-if="!error && !_.isEmpty(groups)">
        Next
      </button>
    </div>

  </div>

  <div class="st2-panel__details st2-details"
      data-test="details"
      ng-show="record">

    <div class="st2-details__toolbar">

      <input type="button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          data-test="rerun_button"
          ng-click="rerun.open()"
          value="Rerun"/>

      <input type="button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-click="cancel()"
          ng-disabled="record.status != 'running'"
          value="Cancel"/>

      <div class="st2-details__toolbar-separator"></div>

      <div class="st2-details__switch st2-details__switch--of-two"
          ng-class="{
            'st2-details__switch--first': $root.isState(['^.general', '^.list']),
            'st2-details__switch--second': $root.isState('^.code')
          }">
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.general', {id: record.id})">
          <i class="st2-icon__cogs"></i>
        </div>
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.code', {id: record.id})">
          <i class="st2-icon__code"></i>
        </div>
      </div>

    </div>

    <div class="st2-details__header">
      <div class="st2-details__header-name" data-test="header_name">
        <a ui-sref="actions.general({ref:$root.getRef(record.action)})">
          {{ $root.getRef(record.action) }}
        </a>
      </div>
      <div class="st2-details__header-description" data-test="header_description">
        {{ record.action.description }}
      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState(['^.general', '^.list'])}">

      <div class="st2-panel__scroller">
        <div class="st2-details__panel">
          <div class="st2-action-reporter__header">
            <div class="st2-details__panel-body">
              <dl class="st2-details__panel-body-line">
                <dt class="st2-details__panel-body-label">
                  Status:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <span class="st2-label" status="record.status" data-test="status"></span>
                </dd>
              </dl>
              <dl class="st2-details__panel-body-line">
                <dt class="st2-details__panel-body-label">
                  Execution ID:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <div class="st2-action-reporter__uuid"
                      contenteditable="true"
                      data-test="execution_id"
                      select-on-click>
                    {{ record.id }}
                  </div>
                </dd>
              </dl>
              <dl class="st2-details__panel-body-line"
                  ng-if="record.context.trace_context.trace_tag">
                <dt class="st2-details__panel-body-label">
                  Trace Tag:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <div class="st2-action-reporter__uuid"
                      contenteditable="true"
                      select-on-click>
                    {{ record.context.trace_context.trace_tag }}
                  </div>
                </dd>
              </dl>
              <dl class="st2-details__panel-body-line">
                <dt class="st2-details__panel-body-label">
                  Started:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <time class="st2-action-reporter__time"
                      data-test="start_timestamp"
                      datetime="{{record.start_timestamp}}">
                    {{ record.start_timestamp | date:'EEE, dd MMM y HH:mm:ss UTC':'UTC' }}
                  </time>
                </dd>
              </dl>
              <dl class="st2-details__panel-body-line">
                <dt class="st2-details__panel-body-label">
                  Finished:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <time class="st2-action-reporter__time"
                      data-test="end_timestamp"
                      datetime="{{record.end_timestamp}}">
                    {{ record.end_timestamp | date:'EEE, dd MMM y HH:mm:ss UTC':'UTC' }}
                  </time>
                </dd>
              </dl>
              <dl class="st2-details__panel-body-line"
                  ng-show="record.execution_time">
                <dt class="st2-details__panel-body-label">
                  Execution time:
                </dt>
                <dd class="st2-details__panel-body-value">
                  <span class="st2-action-reporter__time"
                      data-test="execution_time">
                    {{ record.execution_time }} s
                  </span>
                </dd>
              </dl>
            </div>
          </div>

          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Action Output</h2>
          </div>

          <div class="st2-details__panel-body">
            <div class="st2-action-reporter"
                data-test="action_output"
                runner="record.runner.name"
                execution="record"></div>
          </div>
        </div>

        <div class="st2-details__panel"
            ng-show="record.rule">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Rule Details</h2>
          </div>
          <div class="st2-details__panel-body">
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.rule.ref">
                Rule
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.rule.ref">
                <a ui-sref="rules.general({ref: record.rule.ref})">
                  {{ record.rule.ref }}
                </a>
              </dd>
            </dl>
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.rule.description">
                Rule Description
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.rule.description">
                {{ record.rule.description }}
              </dd>
            </dl>
          </div>
        </div>

        <div class="st2-details__panel"
            ng-show="record.trigger">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Trigger Details</h2>
          </div>
          <div class="st2-details__panel-body">
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.trigger.type">
                Trigger
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.trigger.type">
                {{ record.trigger.type }}
              </dd>
            </dl>
            <dl class="st2-details__panel-body-line">
              <dt class="st2-details__panel-body-label"
                  ng-if="record.trigger_instance.occurrence_time">
                Occurrence
              </dt>
              <dd class="st2-details__panel-body-value"
                  ng-if="record.trigger_instance.occurrence_time">
                {{ record.trigger_instance.occurrence_time | date:'EEE, dd MMM y HH:mm:ss UTC':'UTC' }}
              </dd>
            </dl>
          </div>
          <div class="st2-details__panel-body">
            <div class="st2-highlight" code="record.trigger_instance.payload | json"
                language="json"></div>
          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Action Input</h2>
          </div>
          <div class="st2-details__panel-body">
            <form role="form" class="st2-details__form">
              <div class="st2-auto-form"
                data-test="action_input"
                watch-depth="reference"
                spec="actionSpec"
                disabled="true"
                ng-model="payload">
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <div class="st2-details__panel">
          <div class="st2-details__panel-body">
            <div class="st2-highlight"
                data-test="record_code"
                code="record | json"
                lines="20"
                language="json">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</main>

<div class="st2-rerun"
  ng-if="$root.isState('^.rerun')"
  action="record.action.ref"
  spec="actionSpec"
  payload="payload"
  on-submit="rerun.submit"
  on-cancel="rerun.cancel">
</div>

<div class="st2-report"></div>
