<div ng-repeat="(host, result) in execution.result">
  <div class="st2-action-reporter__hostname">Host: {{ host }}</div>
  <div class="st2-action-reporter__source"
      ng-if="result.stdout">
    Output
  </div>
  <div class="st2-highlight"
      code="result.stdout"
      ng-if="result.stdout">
  </div>

  <div class="st2-action-reporter__source"
      ng-if="result.stderr">
    Error
  </div>
  <div class="st2-highlight"
      code="result.stderr"
      ng-if="result.stderr">
  </div>

  <div class="st2-action-reporter__source"
      ng-if="result.traceback">
    Traceback
  </div>
  <div class="st2-highlight"
      code="getTraceback(result)"
      ng-if="result.traceback">
  </div>

  <div class="st2-highlight st2-action-reporter__message"
      code="'// Action produced no data'"
      ng-if="!result.stderr && !result.stdout && !result.traceback">
  </div>
</div>
