@font-face {
  font-family: 'Droid Sans Mono';
  src: url('../font/DroidSansMono.eot?80426639');
  src: url('../font/DroidSansMono.eot?80426639#iefix') format('embedded-opentype'),
       url('../font/DroidSansMono.woff?80426639') format('woff'),
       url('../font/DroidSansMono.ttf?80426639') format('truetype'),
       url('../font/DroidSansMono.svg?80426639#ststanley') format('svg');
  font-weight: normal;
  font-style: normal;
}
