@import "layout";

.st2-details {
  #st2-layout > #panel;

  padding: 0;

  z-index: 1;

  background-color: #2e2e2e;
  color: #757575;

  &__well {
    min-height: 20px;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #222;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);

    pre {
      margin: 0;
      padding: 15px;

      &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(117, 117, 117, .3); // #757575
        border-radius: 3px;

        &:hover {
          background-color: rgba(117, 117, 117, .7); // #757575
        }
      }
    }
  }

  &__tab {
    &s {
      display: flex;
      flex-wrap: wrap;
    }

    &-label {
      flex: 1 0 10%;
      height: 44px;
      border-top: 2px solid transparent;
      box-sizing: border-box;
      padding: 10px;

      text-align: center;

      text-transform: uppercase;
      font-weight: 200;
      font-family: Oswald;
      font-size: 15px;

      cursor: pointer;

      background-color: #222;

      &--active {
        border-color: #01C8FF;
        background-color: #2e2e2e;
        color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }

    &-body {
      flex: 0 0 100%;
      order: 99;

      position: absolute;
      top: 44px;
      bottom: 0;
      left: 0;
      right: 0;

      background-color: #2e2e2e;

      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__panel {
    margin: 6px 0 30px;
    border-bottom: 1px solid #757575;
    padding-bottom: 20px;

    width: 606px;

    &-heading {
      margin-bottom: 10px;
      display: flex;
    }

    &-title {
      font-weight: 400;
      font-family: Oswald;
      text-transform: uppercase;

      font-size: 15px;

      padding: 0;
      margin: 0;

      flex: 1;
    }

    &-type {
      color: #fff;
      text-align: right;

      flex: 1;
    }

    &-body {
      margin: 0;

      &-label {
        text-transform: uppercase;
        font-weight: 400;
        font-family: Oswald;
      }

      &-value {
        margin: 3px 0 20px;
        color: #fff;
      }

    }

    &-empty {
      text-align: center;
      text-transform: uppercase;
      font-weight: 200;
      font-family: Oswald;

      color: #555;

      padding: 20px 0 40px;
    }

    &:last-of-type {
      border-bottom-color: transparent;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__reload-button {
    cursor: pointer;

    &--in-progress {
      cursor: default;
    }
  }

  &__criteria {
    &-entity,
    &-value {
      display: inline-block;
      padding: 2px 8px;
      border-radius: 4px;
      background-color: #1A1A1A;
      color: #EEE;
      margin-bottom: 2px;
    }
  }
}
