.st2-loader {
  &--active:before {
    font-family: 'ststanley';
    font-size: 92px;
    font-weight: normal;
    font-style: normal;

    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;

    content: '\e806';
    animation: spin 2s infinite linear,
    show 2s linear 2s 1 forwards;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;

    color: fade(#515151, 0%);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(359deg);
    }
  }

  @keyframes show {
    0% {
      color: fade(#515151, 0%);
    }

    100% {
      color: fade(#515151, 100%);
    }
  }
}
