@import (reference) '/apps/st2-history/style.less';

.st2-history-child {

  border-left: 5px solid gray;

  // Table columns
  .st2-flex-table__column&__column {
    &-utility {
      width: 25px;
    }
    &-action {
      flex: 6;
    }
  }

}
