<div class="st2-flex-table__header">
  <div class="st2-flex-table__column st2-history__column-utility st2-history-child__column-utility">
  </div>
  <div class="st2-flex-table__column st2-history__column-time st2-history-child__column-time">
    Started At
  </div>
  <div class="st2-flex-table__column st2-history__column-action st2-history-child__column-action">
    Action Name
  </div>
  <div class="st2-flex-table__column st2-history__column-status st2-history-child__column-status">
    Status
  </div>
</div>

<div class="st2-flex-table__row"
    ng-class-odd="'st2-flex-table__row--odd'"
    ng-class-even="'st2-flex-table__row--even'"
    ng-class="{'st2-flex-table__row--active': record.id == $root.state.params.id}"
    ng-repeat="record in children"
    ng-click="$root.state.go('^.summary', {id: record.id})">
  <div class="st2-flex-table__column st2-history__column-utility st2-history-child__column-utility">
  </div>
  <div class="st2-flex-table__column st2-history__column-time st2-history-child__column-time">
    {{ record.execution.start_timestamp.split(' ').join('T') | date:'mediumTime' }}
  </div>
  <div class="st2-flex-table__column st2-history__column-action st2-history-child__column-action">
    {{ record.action.name }}
  </div>
  <div class="st2-flex-table__column st2-history__column-status st2-history-child__column-status">
    <span class="st2-label" status="record.execution.status"></span>
  </div>
</div>
