@import 'colors';

.st2-history-child {
  position: relative;

  min-height: 20px;
  padding-left: 5px;

  background-color: @grey-base;

  & .st2-flex-card__expand {
    padding-left: 25px;
  }

  & & .st2-flex-card__expand,
  & .st2-flex-card--active .st2-flex-card__expand {
    padding-left: 20px;
  }

  & & & .st2-flex-card__expand,
  & & .st2-flex-card--active .st2-flex-card__expand {
    padding-left: 15px;
  }

  & & & .st2-flex-card--active .st2-flex-card__expand {
    padding-left: 10px;
  }
}
