<div class="st2-flex-table">

  <div class="st2-flex-card"
      ng-class="{'st2-flex-card--active': record.id == $root.state.params.id}"
      ng-repeat-start="record in workflow._children | orderBy:'start_timestamp'"
      ng-click="$root.go({id: record.id})">

    <div class="st2-flex-card__header">
      <div class="st2-flex-card__column">
        <div class="st2-flex-card__header-primary"
            ng-if="view.meta.subview.time.value">
          <i ng-class="record._expanded && 'icon-chevron-down' || 'icon-chevron-up'"
            ng-click="(record | isExpandable) && expand(record, $event)"
            ng-if="(record | isExpandable)">
          </i>
          {{ record.start_timestamp | date:'HH:mm:ss UTC':'UTC' }}
        </div>
      </div>
      <div class="st2-flex-card__column st2-flex-card__header-status"
          ng-if="view.meta.value">
        <i class="st2-icon__flow-cascade"
          ng-if="(record | isExpandable) && view.meta.subview.type.value"></i>
        <span class="st2-label st2-label--short" status="record.status"
          ng-if="view.meta.subview.status.value"></span>
      </div>
    </div>

    <div class="st2-flex-card__row">
      <div class="st2-flex-card__column st2-flex-card__if"
          ng-if="view.task.value">
        {{ getTaskName(record) }}
      </div>

      <div class="st2-flex-card__column st2-flex-card__then"
          title="{{ $root.getRef(record.action) }}"
          ng-if="view.action.value">
        <span class="st2-history__column-action-name">
          {{ $root.getRef(record.action) }}
        </span>
        <span class="st2-history__column-action-params st2-proportional"
            ng-if="view.action.subview.params.value">
          <span class="st2-history__column-action-param"
              ng-repeat="(name, value) in record.parameters"><!--
         --><span ng-if="!$first">,&nbsp;</span><!--
         --><span class="st2-history__column-action-param-name"><!--
           -->{{ name }}=<!--
         --></span><!--
         --><span class="st2-history__column-action-param-value"><!--
           -->{{ value | fmtParam }}<!--
         --></span><!--
       --></span>
        </span>
      </div>
    </div>

  </div>

  <div class="st2-history-child"
      workflow="record"
      view="view"
      ng-if="(record | isExpandable) && record._expanded">
  </div>

  <div ng-repeat-end></div>

</div>
