@import "colors";

@import (reference) '/components/bootstrap/less/variables.less';
@import (reference) '/components/bootstrap/less/mixins.less';

@import (reference) '/components/bootstrap/less/forms.less';

.st2-auto-form {
  position: relative;

  &__line {
    display: flex;
    align-items: center;
  }

  &__label {
    margin: 0 10px 18px 0;

    flex: 1;
    align-self: flex-start;
  }

  &__title {
    font-size: 16px;
    line-height: 18px;
  }

  &--required &__title:after {
    content: ' *';
  }

  &__field
  :extend(.form-control all) {
    width: 100%;
    padding: 0 0 0 10px;
    box-sizing: border-box;

    font-weight: normal;

    [disabled] {
      background-color: #ccc;
    }
  }

  input[type="checkbox"] {
    margin: 18px 4px 0 0;
  }

  &__description {
    font-size: 12px;

    margin-left: 10px;

    flex: 1;
  }
}
