@import 'colors';

.st2-action-reporter {
  &__header {
    margin-top: -10px;
    margin-bottom: 30px;

    .st2-label {
      position: relative;
      top: -1px;

      margin: -4px 0;
      padding: 6px 10px;
    }
  }

  &__hostname {
    font-size: 15px;

    margin: 5px 0;
  }

  &__source {
    font-size: 11px;

    display: inline-block;

    margin: 0 0 -5px;
    padding: 5px 10px 8px;

    color: @blue-lightest;
    border-radius: 5px 5px 0 0;
    background-color: @blue-darkest;
  }

  &__message {
    font-family: Inconsolata;
    font-size: 14px;

    display: block;

    min-height: 20px;
    margin: -10px 0 0 0;
    padding: 13px 13px 10px;

    color: #fff;
    color: #d8d8d8;
    border-radius: 4px;
    background-color: #151a1e;
  }

  & .st2-highlight + .st2-highlight {
    margin-bottom: 20px;
  }

  &__uuid {
    font-family: 'Courier New', monospace;
    font-size: 13px;

    width: 200px;
    padding: 2px 5px;

    text-align: center;
    vertical-align: bottom;

    color: white;
    border: none;
    border-radius: 4px;
    outline: 0;
    background: #151a1e;
  }
}
