<header class="st2-menu"></header>

<main class="st2-panel">

  <div class="st2-panel__view st2-rules">
    <div class="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          Rules
        </div>

        <div class="st2-panel__toolbar-search"
            ng-show="rules">
          <form>
            <input type="search"
              class="st2-panel__search-bar"
              placeholder="Filter"
              ng-model="filter">
          </form>
        </div>
      </div>

      <div class="st2-panel__content">

        <div class="st2-flex-table"
            ng-if="rules && !_.isEmpty(rules)">
          <div class="st2-flex-table__caption"
              ng-click="toggle()">
            <h2 class="st2-flex-table__caption-title">General</h2>
          </div>

          <div class="st2-flex-table__header">
            <div class="st2-flex-table__column st2-rules__column-enabled">Enabled</div>
            <div class="st2-flex-table__column st2-rules__column-name">Name</div>
            <div class="st2-flex-table__column st2-rules__column-desc">Description</div>
            <div class="st2-flex-table__column st2-rules__column-trigger">Trigger</div>
            <div class="st2-flex-table__column st2-rules__column-action">Action Name</div>
          </div>

          <div class="st2-flex-table__row"
              ng-class-odd="'st2-flex-table__row--odd'"
              ng-class-even="'st2-flex-table__row--even'"
              ng-class="{'st2-flex-table__row--active': rule.id == $parent.rule.id}"
              ng-repeat="rule in rules"
              ng-click="$root.go({id: rule.id})">
            <div class="st2-flex-table__column st2-rules__column-enabled">
              <span class="st2-label" status="rule.enabled && 'enabled' || 'disabled'"></span>
            </div>
            <div class="st2-flex-table__column st2-rules__column-name"
                title="{{ rule.name }}">
              {{ rule.name }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-desc">
              {{ rule.description }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-trigger"
                title="{{ rule.trigger.type }}">
              {{ rule.trigger.type }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-action"
                title="{{ rule.action.ref }}">
              {{ rule.action.ref }}
            </div>
          </div>
        </div>

        <div class="st2-panel__content-empty"
            ng-if="rules && _.isEmpty(rules)">
          No results were found for your current filter
        </div>


        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)">
          Request failed: {{ error }}
        </div>

      </div>
    </div>

    <div class="st2-loader"></div>
  </div>

  <div class="st2-panel__details st2-details"
      ng-show="rule">

    <div class="st2-details__header">
      <div class="st2-details__header-name">
        <a ui-sref="rules.general({id: rule.id})">
          {{ rule.name }}
        </a>
      </div>
      <div class="st2-details__header-description">{{ rule.description }}</div>
    </div>

    <div class="st2-details__toolbar">
      <!--
      <button class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-click="edit = true">
        Edit
      </button>
      <button class="st2-forms__button st2-forms__button--small st2-details__toolbar-button">
        Duplicate
      </button>
      <button class="st2-forms__button st2-forms__button--small st2-details__toolbar-button">
        Delete
      </button>
      -->

      <div class="st2-details__toolbar-separator"></div>

      <div class="st2-details__switch st2-details__switch--of-two"
          ng-class="{
            'st2-details__switch--first': $root.isState(['^.general', '^.list']),
            'st2-details__switch--second': $root.isState('^.code')
          }">
        <div class="st2-details__switch-item"
            ng-click="$root.state.go('^.general', {id: rule.id})">
          <i class="st2-icon__cogs"></i>
        </div>
        <div class="st2-details__switch-item"
            ng-click="$root.state.go('^.code', {id: rule.id})">
          <i class="st2-icon__code"></i>
        </div>
      </div>

    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState(['^.general', '^.list'])}">
      <div class="st2-panel__scroller">

        <form>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Trigger</h2>
            </div>
            <div class="st2-manual-form st2-form-combobox"
              spec="{
                enum:[{
                  name: 'a',
                  description: 'b'
                }, {
                  name: 'b',
                  description: 'c'
                }],
                name: 'name'
              }"
              disabled="!edit"
              result="rule.trigger.type">
            </div>
            <div class="st2-details__panel-body">
              <div class="st2-auto-form"
                spec="triggerSchema"
                disabled="!edit"
                result="rule.trigger.parameters">
              </div>
            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Criteria</h2>
            </div>
            <div class="st2-details__panel-body">

              <div class="st2-criteria"
                model="rule.criteria"
                disabled="!edit">
              </div>

            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Action</h2>
            </div>
            <div class="st2-manual-form st2-form-combobox"
              spec="{
                enum:[{
                  name: 'a',
                  description: 'b'
                }, {
                  name: 'b',
                  description: 'c'
                }],
                name: 'name'
              }"
              disabled="!edit"
              result="rule.action.ref">
            </div>
            <div class="st2-details__panel-body">
              <div class="st2-auto-form"
                spec="actionSchema"
                disabled="!edit"
                result="rule.action.parameters">
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <div class="st2-highlight" code="rule | json" full="true"></div>

      </div>
    </div>

  </div>

</main>
