<header class="st2-menu st2-menu--red"></header>

<main class="st2-panel">

  <div class="st2-panel__view st2-rules" cg-busy="busy">
    <div class="st2-panel__scroller" id="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          Rules
        </div>

        <div class="st2-panel__toolbar-actions">
          <a class="st2-forms__button st2-panel__toolbar-button"
              data-test="rule_create_button"
              ng-click="popup.open()">
            <i class="st2-icon__plus"></i>
          </a>
        </div>

        <div class="st2-panel__toolbar-search"
            ng-show="groups">
          <form>
            <input type="search"
              class="st2-panel__search-bar"
              data-test="filter"
              placeholder="Filter"
              ng-model="filter">
          </form>
        </div>

        <div class="st2-panel__toolbar-toggle-all"
            ng-class="{'st2-panel__toolbar-toggle-all--collapsed': areFlexTablesCollapsed('rules')}"
            ng-click="toggleFlexTables('rules')"></div>
      </div>

      <div class="st2-panel__content">

        <div class="st2-flex-table"
            ng-repeat="(name, params) in groups"
            ng-if="groups && !_.isEmpty(groups) && !_.isUndefined(params)"
            ng-class="{'st2-flex-table--collapsed': isCollapsed()}"
            st2-flex-table-type="rules"
            st2-flex-table-id="{{ name }}">
          <div class="st2-flex-table__caption st2-flex-table__caption--pack"
              ng-click="toggle()">
            <img ng-src="{{ icons[name] }}" />
            <h2 class="st2-flex-table__caption-title">{{ name }}</h2>
          </div>

          <div class="st2-flex-rule"
              data-test="rule rule:{{ rule.ref }}"
              ng-class="{'st2-flex-rule--active': rule.ref == $parent.rule.ref}"
              ng-repeat="rule in params.list"
              ng-click="$root.go({ref: rule.ref, edit: undefined})"
              st2-scroll-into-view="{{ rule.ref === $parent.rule.ref }}"
              st2-scroll-into-view-container="st2-panel__scroller">
            <div class="st2-flex-rule__header">
              <div class="st2-rules__column-enabled"
                  ng-if="view.status.value">
                <span class="st2-label" status="rule.enabled && 'enabled' || 'disabled'"></span>
              </div>
              <div class="st2-rules__column-name"
                  title="{{ rule.ref }}"
                  ng-if="view.name.value">
                {{ rule.ref }}
              </div>
              <div class="st2-rules__column-desc"
                  ng-if="view.description.value">
                {{ rule.description }}
              </div>
            </div>
            <div class="st2-flex-table__row">
              <div class="st2-flex-table__column st2-flex-rule__if">
                <div class="st2-rules__column-trigger"
                    title="{{ rule.trigger.type }}"
                    ng-if="view.trigger.value">
                  <span class="st2-rules__label">If</span>
                  <span class="st2-pack-icon">
                    <img class="st2-pack-icon__image"
                        ng-src="{{ icons[rule.trigger.type.split('.')[0]] }}"
                        ng-if="icons[rule.trigger.type.split('.')[0]]">
                  </span>
                  <span class="st2-rules__name">
                    {{ rule.trigger.type }}
                  </span>
                  <span class="st2-rules__description"
                      ng-if="rule.trigger.description">
                    {{ rule.trigger.description }}
                  </span>
                </div>
              </div>
              <div class="st2-flex-table__column st2-flex-rule__then">
                <div class="st2-rules__column-action"
                    title="{{ rule.action.ref }}"
                    ng-if="view.action.value">
                  <span class="st2-rules__label">Then</span>
                  <span class="st2-pack-icon">
                    <img class="st2-pack-icon__image"
                        ng-src="{{ icons[rule.action.ref.split('.')[0]] }}"
                        ng-if="icons[rule.action.ref.split('.')[0]]">
                  </span>

                  <span class="st2-rules__name">
                    {{ rule.action.ref }}
                  </span>
                  <span class="st2-rules__description">
                    {{ rule.action.description }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="st2-panel__content-empty"
            ng-if="groups && !error && _.isEmpty(groups)">
          No results were found for your current filter
        </div>

        <div class="st2-panel__content-error"
            ng-if="error && _.isEmpty(groups)"
            ng-switch="error.status">
          <div ng-switch-when="401">
            <p class="st2-panel__content-error-title">
              This server requires authentication
            </p>
            <p>
              For information on how to set up authentication, please refer to
              <a href="http://docs.stackstorm.com/webui.html#authentication">this section</a>
              of StackStorm WebUI docs.
            </p>
          </div>
          <div ng-switch-default>
            <p class="st2-panel__content-error-title">Unable to reach API server</p>
            <p>Check developer console of your browser for more info.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="st2-loader"></div>
  </div>

  <div class="st2-panel__details st2-details"
      data-test="details"
      ng-show="rule.ref">

    <div class="st2-details__header">
      <div class="st2-details__header-name">
        <span class="st2-label"
            data-test="status"
            status="ruleMeta.enabled && 'enabled' || 'disabled'">
        </span>
        <a ui-sref="rules.general({ref: rule.ref})" data-test="header_name">
          {{ ruleMeta.ref }}
        </a>
      </div>
      <div class="st2-details__header-description" data-test="header_description">
        {{ ruleMeta.description }}
      </div>
      <div class="st2-details__header-conditions">
        <div class="st2-details__header-condition st2-details__header-condition--if" data-test="header_if">
          <span class="st2-details__header-condition-label">If</span>
          <span class="st2-details__header-condition-icon">
            <span class="st2-pack-icon st2-pack-icon-small">
              <img class="st2-pack-icon__image st2-pack-icon__image-small"
                  ng-src="{{ icons[ruleMeta.trigger.type.split('.')[0]] }}"
                  ng-if="icons[ruleMeta.trigger.type.split('.')[0]]">
            </span>
          </span>
          <span class="st2-details__header-condition-name">
            {{ ruleMeta.trigger.type }}
          </span>
        </div>
        <div class="st2-details__header-condition st2-details__header-condition--then" data-test="header_then">
          <span class="st2-details__header-condition-label">Then</span>
          <span class="st2-details__header-condition-icon">
            <span class="st2-pack-icon st2-pack-icon-small">
              <img class="st2-pack-icon__image st2-pack-icon__image-small"
                  ng-src="{{ icons[ruleMeta.action.ref.split('.')[0]] }}"
                  ng-if="icons[ruleMeta.action.ref.split('.')[0]]">
            </span>
          </span>
          <span class="st2-details__header-condition-name">
            <a ui-sref="actions.general({ref: ruleMeta.action.ref})">
              {{ ruleMeta.action.ref }}
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="st2-details__toolbar">
      <input type="button"
          data-test="edit_button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-click="edit()"
          ng-hide="$root.state.params.edit"
          value="Edit"/>
      <!-- <input type="button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-hide="$root.state.params.edit"
          value="Duplicate"/> -->
      <input type="button"
          data-test="delete_button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-hide="$root.state.params.edit"
          ng-click="delete()"
          value="Delete"/>

      <input type="submit"
          data-test="save_button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-show="$root.state.params.edit"
          ng-disabled="form.$invalid"
          ng-click="submit()"
          value="Save"/>
      <input type="button"
          class="st2-forms__button st2-forms__button--small st2-details__toolbar-button"
          ng-click="cancel()"
          ng-show="$root.state.params.edit"
          value="Cancel"/>

      <div class="st2-details__toolbar-separator">
        <span class="st2-details__toolbar-message st2-details__toolbar-message-saved"
            ng-show="form.saved">
          Saved!
        </span>
      </div>

      <div class="st2-details__switch st2-details__switch--of-two"
          ng-class="{
            'st2-details__switch--first': $root.isState(['^.general', '^.list']),
            'st2-details__switch--second': $root.isState('^.code')
          }">
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.general', {ref: rule.ref})">
          <i class="st2-icon__cogs"></i>
        </div>
        <div class="st2-details__switch-item"
            ng-click="$root.go('^.code', {ref: rule.ref})">
          <i class="st2-icon__code"></i>
        </div>
      </div>

    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': !$root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <form name="form">

          <div class="st2-manual-form st2-form-checkbox"
              spec="enabledSpec"
              ng-model="rule.enabled">
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Trigger</h2>
            </div>
            <div class="st2-details__panel-body">

              <div class="st2-remote-form"
                  data-test="rule_trigger_form"
                  name="trigger"
                  disabled="!$root.state.params.edit"
                  suggester="triggerSuggester"
                  loader="triggerLoader"
                  ng-model="rule.trigger">
              </div>

            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Criteria</h2>
            </div>
            <div class="st2-details__panel-body">

              <div class="st2-criteria"
                data-test="rule_criteria_form"
                ng-model="rule.criteria"
                trigger="trigger"
                disabled="!$root.state.params.edit">
              </div>

            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Action</h2>
            </div>
            <div class="st2-details__panel-body">

              <div class="st2-remote-form"
                  data-test="rule_action_form"
                  name="action"
                  disabled="!$root.state.params.edit"
                  suggester="actionSuggester"
                  loader="actionLoader"
                  ng-model="rule.action">
              </div>

            </div>
          </div>

          <div class="st2-details__panel"
              ng-show="$root.state.params.edit">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Rule</h2>
            </div>
            <div class="st2-details__panel-body">

              <div class="st2-auto-form"
                spec="metaSpec"
                watch-depth="reference"
                on-change="onChange"
                ng-model="rule">
              </div>

              <div class="st2-form-text"
                name="pack"
                spec="packSpec"
                ng-model="rule.pack"
                ng-if="!$root.state.params.edit">
              </div>
              <div class="st2-manual-form st2-form-combobox"
                name="pack"
                spec="packSpec"
                ng-suggestions="packSpec.enum"
                ng-model="rule.pack"
                ng-if="$root.state.params.edit">
              </div>

            </div>
          </div>

        </form>

      </div>
    </div>

    <div class="st2-details__body"
        ng-class="{'st2-details__body--active': $root.isState('^.code')}">
      <div class="st2-panel__scroller">

        <div class="st2-highlight"
            data-test="rule_code"
            code="rule | yaml"
            lines="20"
            language="yaml">
        </div>

      </div>
    </div>

  </div>

</main>

<div class="st2-popup"
    ng-show="$root.isState('^.new')"
    data-test="rule_create_popup"
    ng-click="popup.cancel()">
  <div class="st2-panel__details st2-details st2-popup__details"
      ng-click="$event.stopPropagation()">
    <div class="st2-panel__scroller">

      <form name="newform">

        <div class="st2-popup__title">
          Create a rule
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-body">

            <div class="st2-auto-form"
              spec="metaSpec"
              watch-depth="reference"
              on-change="popup.onChange"
              ng-model="newRule">
            </div>

            <div class="st2-manual-form st2-form-combobox"
              name="pack"
              spec="packSpec"
              ng-suggestions="packSpec.enum"
              ng-model="newRule.pack">
            </div>

            <div class="st2-manual-form st2-form-checkbox"
                spec="enabledSpec"
                ng-model="newRule.enabled">
            </div>

          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Trigger</h2>
          </div>
          <div class="st2-details__panel-body">

            <div class="st2-remote-form"
                data-test="rule_create_trigger_form"
                name="trigger"
                suggester="triggerSuggester"
                loader="triggerLoader"
                ng-model="newRule.trigger">
            </div>

          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Criteria</h2>
          </div>
          <div class="st2-details__panel-body">

            <div class="st2-criteria"
              ng-model="newRule.criteria">
            </div>

          </div>
        </div>

        <div class="st2-details__panel">
          <div class="st2-details__panel-heading">
            <h2 class="st2-details__panel-title">Action</h2>
          </div>
          <div class="st2-details__panel-body">

            <div class="st2-remote-form"
                data-test="rule_create_action_form"
                name="action"
                suggester="actionSuggester"
                loader="actionLoader"
                ng-model="newRule.action">
            </div>

          </div>
        </div>

        <input type="submit"
            class="st2-forms__button st2-details__toolbar-button"
            ng-disabled="newform.$invalid"
            ng-click="popup.submit()"
            data-test="rule_create_submit"
            value="Save"/>
        <input type="button"
            class="st2-forms__button st2-details__toolbar-button"
            ng-click="popup.cancel()"
            value="Cancel"/>

      </form>

    </div>
  </div>
</div>

<div class="st2-report"></div>
