<div class="st2-panel">

  <div class="st2-panel__view st2-rules">
    <div class="st2-panel__scroller">

      <div class="st2-panel__toolbar">
        <div class="st2-panel__toolbar-title">
          Rules
        </div>

        <div class="st2-panel__toolbar-search">
          <form>
            <input type="search"
              class="st2-panel__search-bar"
              placeholder="Filter"
              ng-model="filter">
          </form>
        </div>
      </div>

      <div class="st2-panel__content">

        <div class="st2-flex-table"
            ng-if="rules && !_.isEmpty(rules)">
          <div class="st2-flex-table__caption"
              ng-click="toggle()">
            <h2 class="st2-flex-table__caption-title">General</h2>
          </div>

          <div class="st2-flex-table__header">
            <div class="st2-flex-table__column st2-rules__column-name">Name</div>
            <div class="st2-flex-table__column st2-rules__column-desc">Description</div>
            <div class="st2-flex-table__column st2-rules__column-trigger">Trigger</div>
            <div class="st2-flex-table__column st2-rules__column-action">Action Name</div>
            <div class="st2-flex-table__column st2-rules__column-enabled">Enabled</div>
          </div>

          <div class="st2-flex-table__row"
              ng-class-odd="'st2-flex-table__row--odd'"
              ng-class-even="'st2-flex-table__row--even'"
              ng-class="{'st2-flex-table__row--active': rule.id == $parent.rule.id}"
              ng-repeat="rule in rules"
              ng-click="$root.go({id: rule.id})">
            <div class="st2-flex-table__column st2-rules__column-name">
              {{ rule.name }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-desc">
              {{ rule.description }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-trigger">
              {{ rule.trigger.type }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-action">
              {{ rule.action.ref }}
            </div>
            <div class="st2-flex-table__column st2-rules__column-enabled">
              <span class="st2-label" status="rule.enabled && 'enabled' || 'disabled'"></span>
            </div>
          </div>
        </div>

        <div class="st2-panel__content-empty"
            ng-if="rules && _.isEmpty(rules)">
          No results were found for your current filter
        </div>

      </div>
    </div>

    <div class="st2-loader"></div>
  </div>

  <div class="st2-panel__details st2-details">

    <div class="st2-details__tabs">
      <div class="st2-details__tab-label"
          ng-class="{'st2-details__tab-label--active': $root.isState(['^.general', '^.list'])}"
          ng-click="$root.state.go('^.general', {id: rule.id})">
        <i class="st2-icon__cogs"></i>
        General
      </div>

      <div class="st2-details__tab-body"
          ng-class="{'st2-details__tab-body--active': $root.isState(['^.general', '^.list'])}">
        <div class="st2-panel__scroller">

          <div class="st2-details__panel">

            <div class="st2-details__panel-body">
              <div class="st2-details__panel-body-line">
                <div class="st2-details__panel-body-label">Name</div>
                <div class="st2-details__panel-body-value">{{ rule.name }}</div>
              </div>

              <div class="st2-details__panel-body-line">
                <div class="st2-details__panel-body-label">Description</div>
                <div class="st2-details__panel-body-value">{{ rule.description }}</div>
              </div>
            </div>

          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Trigger</h2>
              <span class="st2-details__panel-type">{{ rule.trigger.type }}</span>
            </div>
            <div class="st2-details__panel-body">
              <div class="st2-auto-form"
                spec="triggerSchema"
                result="rule.trigger.parameters">
              </div>
            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Criteria</h2>
            </div>
            <div class="st2-details__panel-body">
              <div class="st2-details__criteria"
                  ng-repeat="(key, criteria) in rule.criteria">
                <span class="st2-details__criteria-entity">{{ key }}</span>
                <span class="st2-details__criteria-attribute">{{ criteria.type }}</span>
                <span class="st2-details__criteria-value">{{ criteria.pattern }}</span>
              </div>
            </div>
          </div>

          <div class="st2-details__panel">
            <div class="st2-details__panel-heading">
              <h2 class="st2-details__panel-title">Action</h2>
              <span class="st2-details__panel-type">{{ rule.action.name }}</span>
            </div>
            <div class="st2-details__panel-body">
              <div class="st2-auto-form"
                spec="actionSchema"
                result="rule.action.parameters">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="st2-details__tab-label"
          ng-class="{'st2-details__tab-label--active': $root.isState('^.code')}"
          ng-click="$root.state.go('^.code', {id: rule.id })">
        <i class="st2-icon__code"></i>
        Code
      </div>

      <div class="st2-details__tab-body"
          ng-class="{'st2-details__tab-body--active': $root.isState('^.code')}">
        <div class="st2-panel__scroller">

          <div class="st2-details__well"
            hljs source="rule | json"></div>

        </div>
      </div>
    </div>

  </div>

</div>
